<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-side-nav
      #authenticated
      (closeSideNav)="sidenav.close()"
    ></app-side-nav>
  </mat-sidenav>
  <mat-sidenav #homeSideNav position="end" role="navigation">
    <app-home-sidenav
      #unauthenticated
      (closedSideNav)="homeSideNav.close()"
    ></app-home-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      (sideNavToggle)="sidenav.toggle()"
      (homePageNavToggle)="homeSideNav.toggle()"
    ></app-header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="home-image">
              <img
                class="img-fluid my-3"
                [style.height]="'auto'"
                [style.width]="'100%'"
                [style.opacity]="0.7"
                src="/assets/images/home.jpg"
              />
              <div class="homeimage-text my-2">
                <h1 class="mx-5 my-2 smallfarmfont display-3">smallFarmers</h1>
                <h3 class="mx-5 my-2 intfont">
                  Farming problems and solutions, tips and Ideas, recording and
                  reporting for small farmers
                </h3>
                <div class="d-grid gap-3 d-md-block mx-auto col-4 my-2">
                  <button
                    class="btn btn-outline mx-3"
                    style="
                      background-color: #03045e;
                      color: #fb8500;
                      position: center;
                      font-size: small;
                    "
                  >
                    Enquires
                  </button>
                  <button
                    class="btn btn-outline"
                    style="
                      background-color: #03045e;
                      color: #fb8500;
                      position: center;
                      font-size: small;
                    "
                  >
                    About us...
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="my-1" style="text-align: center">about Us..</h1>
            <p class="mx-5 my-3 about-text">
              Small farms is an Agricultural solutions firm that provides a wide
              range of digital products and services for small and subsistence
              farmers. Our objective is to give farmers and their customers
              access to digital tools that will enable them to :
            </p>
            <ol class="ms-5 px-5">
              <li>Get information on optimal agricultural practices</li>
              <li>
                Access digital platforms for recording, tracking and reporting
                their financial, human resources, agricultural, procurement,
                stocking and project management activities
              </li>
              <li>Provide transparency to consumers on how food is produced</li>
            </ol>
            <p class="mx-5 my-3 about-text">
              For more information, click on any of the pictures below...
            </p>
          </div>
        </div>
        <!-- Start of Bootstrap Cards -->
        <div class="row row-cols-1 row-cols-md-3 g-4 my-3">
          <div class="col">
            <div class="card">
              <a (click)="openAgricultureDialog()">
                <img
                  src="../assets/images/Agriculture.jpeg"
                  class="card-img-top"
                  alt="Agriculture"
                  style="height: 300px"
                />
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a (click)="openFinanceDialog()">
                <img
                  src="../assets/images/finance.jpg"
                  class="card-img-top"
                  alt="Finance"
                  style="height: 300px"
                />
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a (click)="openHumanResourcesDialogue()">
                <img
                  src="../assets/images/hr.jpg"
                  class="card-img-top"
                  alt="HumanResources"
                  style="height: 300px"
                />
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a (click)="openMaterialsDialogue()">
                <img
                  src="../assets/images/stock.jpg"
                  class="card-img-top"
                  alt="MaterialsManagement"
                  style="height: 300px"
                />
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a (click)="openProjectsDialogue()">
                <img
                  src="../assets/images/pm.jpg"
                  class="card-img-top"
                  alt="ProjectManagement"
                  style="height: 300px"
                />
              </a>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <a (click)="openKnowledgeDialogue()">
                <img
                  src="../assets/images/Knowledge.jpeg"
                  class="card-img-top"
                  alt="Knowledge"
                  style="height: 300px"
                />
              </a>
            </div>
          </div>
        </div>
        <!-- End of Bootstrap cards -->

        <div class="row">
          <div class="col-md-12"><app-footer></app-footer></div>
        </div>
      </div>

      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
