
<div class="home-page" fxLayout="column" fxLayout.gt-md="column" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <div fxLayout.lt-xs="column" fxLayout.xs="column" fxLayout="column" fxFlex.xs="50">
        <div fxLayoutAlign="center center" fxLayout="column">
            <h1>Welcome to smallFarmers - {{ token }}</h1>
            <h1>Logged In User - {{ userFromUserService }}</h1>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ut totam consequuntur cumque?
                Veniam,
                doloribus quaerat reprehenderit porro earum rerum soluta laboriosam esse voluptatum alias neque quidem
                eveniet,
                nesciunt incidunt vero omnis placeat ab. Dolor, facere vero rerum maxime provident nulla quibusdam rem
                aliquid,
                velit distinctio, dolores perferendis quia asperiores?</p>
        </div>
    </div>
    </div>

    <div class="home-page-modules" fxLayout="column" fxLayout.lt-xs="column" fxLayoutGap.lt-xs="20px"
      fxLayoutAlign="center center">
    </div>
    <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="20px">
      <div class="cardWrap" fxLayout.lt-xs="column" fxLayout.xs="column" fxLayout="row" fxFlex.xs="50"
        fxLayoutAligmnet="space-between center" fxLayoutGap="20px">

        <div fxFlex.xs="50%" fxLayoutAlign="center center" fxLayout="column" fxFlex.lt-xs="50">
          <div>
            <mat-card fxFlex="300px">
              <mat-card-header>
                <mat-card-title>Project Management</mat-card-title>
              </mat-card-header>
              <a routerLink="/login"><img class="mt-3" mat-card-image src="../assets/images/pm.jpg"
                  alt="ProjectManagement"></a>
              <mat-card-content>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam
                  obcaecati
                  provident
                  neque sint placeat laboriosam quam!
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

    <div fxFlex.xs="50%" fxLayoutAlign="center center" fxLayout="column" fxFlex.lt-xs="50">
      <div>
        <mat-card fxFlex="300px">
          <mat-card-header>
            <mat-card-title>Finance</mat-card-title>
          </mat-card-header>
          <a routerLink="/login"><img class="mt-3" mat-card-image src="../assets/images/finance.jpg" alt="Finance"
              style="height: 200px; width: 300px;"></a>
          <mat-card-content>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam
              obcaecati
              provident
              neque sint placeat laboriosam quam!
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      </div>
<div fxFlex.xs="50%" fxLayoutAlign="center center" fxLayout="column" fxFlex.lt-xs="50">
  <div>
    <mat-card fxFlex="300px">
      <mat-card-header>
        <mat-card-title>Human Resources</mat-card-title>
      </mat-card-header>
      <a routerLink="/login"><img class="mt-3" mat-card-image src="../assets/images/hr.jpg" alt="HumanResources"></a>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam
          obcaecati
          provident
          neque sint placeat laboriosam quam!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div fxFlex.xs="50%" fxLayoutAlign="center center" fxLayout="column" fxFlex.lt-xs="50">
  <div>
    <mat-card fxFlex="300px">
      <mat-card-header>
        <mat-card-title>Material Management</mat-card-title>
      </mat-card-header>
      <a routerLink="/login"><img class="mt-3" mat-card-image src="../assets/images/stock.jpg" alt="HumanResources"></a>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam
          obcaecati
          provident
          neque sint placeat laboriosam quam!
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
</div>
<div>
  <app-footer></app-footer>
</div>

