:host {
  /* background-color: #03045e; */
  display: block;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* .mat-card {
  background-color: antiquewhite;
} */

.mat-card-title{
  color: #03045e;
}

img{
  display: block;
}

.home-image{
  position:relative;
  color: #FFA500;
  background-blend-mode: saturation;
  display: inline-block;

}

.homeimage-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.mat-raised-button{
  color: #FFA500;
  background-color: #03045e;
  width: 200px;
  height: 60px;
  font-weight:bolder;
  letter-spacing: 3px;
}


.smallfarmfont{
  font-size: 55px;
  font-weight:bold;
}

.intfont{
  font-weight: lighter;
  font-size: larger;
}

.about-text{
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

ol li {
  font-weight: lighter;
  font-size: 18px;
  line-height: 1.5;
  padding: 5px;
  margin-left: 35px;
}

a{
  cursor: pointer;
}
