<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
  fxLayoutAlign.lt-md="center center">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column"
    fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center">
    <div class="my-5 mx-5 home-image">
      <img class="my-3" [style.height]="'auto'" [style.width]="'100%'" [style.opacity]="0.7"
        src="/assets/images/home.jpg">
      <div class="homeimage-text" style="text-align: center;" fxLayout="column" fxLayoutAlign="center center"
        fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center">
        <h1 class="mx-5 my-3 smallfarmfont display-3">smallFarmers</h1>
        <h3 class="mx-5 my-3 intfont">
          Farming problems and solutions, tips and Ideas, recording and reporting for small farmers
        </h3>
        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column"
          fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center" class="my-3">
          <button mat-raised-button color="primary" class="mr-3 my-2">ENQUIRE</button>
          <button mat-raised-button color="primary" class="my-2">MORE ABOUT US</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Welcome text -->
  <div class="mx-3 my-5" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column"
    fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center">
    <h1 style="text-align: center;"> About us..</h1>
    <p class="mx-5 my-5 about-text">
      Small farms is an Agricultural solutions firm that provides a wide range of digital products and services for
      small and subsistence farmers. Our objective is to give farmers and their customers access to digital tools
      that will enable them to :
    </p>
    <div>
      <ol fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px" fxLayoutGap.lt-md="20px"
        fxLayoutAlign.lt-md="center center" class="ms-5 px-5">
        <li>Get information on optimal agricultural practices</li>
        <li>Access digital platforms for recording, tracking and reporting their financial, human resources,
          agricultural, procurement, stocking and project management activities
        </li>
        <li>Provide transparency to consumers on how food is produced</li>
      </ol>
    </div>
  </div>
  <!-- Modules -->
  <div class="my-5 mx-5">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column"
      fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column"
        fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center">
        <!-- Agriculture -->
        <mat-card>
          <mat-card-header>
            <!-- <mat-card-title>Agriculture</mat-card-title> -->
          </mat-card-header>
          <a (click)="openAgricultureDialog()">
            <img class="my-1" mat-card-image src="../assets/images/Agriculture.jpeg"
            alt="Agriculture" style="height: 200px; width: 300px;">
          </a>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
        <!-- Agriculture -->
        <!--  Finance-->
        <mat-card>
          <mat-card-header>
            <!-- <mat-card-title>Finance         </mat-card-title> -->
          </mat-card-header>
          <a (click)="openFinanceDialog()">
            <img class="my-1" mat-card-image src="../assets/images/finance.jpg" alt="Finance"
              style="height: 200px; width: 300px;">
          </a>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
        <!-- Finance -->
        <!-- Human Resources -->
        <mat-card>
          <mat-card-header>
          </mat-card-header>
          <a (click)="openHumanResourcesDialogue()">
            <img class="my-1" mat-card-image src="../assets/images/hr.jpg" alt="HumanResources"
            style="height: 200px; width: 300px;">
          </a>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
        <!-- Human Resources -->
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px" fxLayout.lt-md="column"
        fxLayoutGap.lt-md="20px" fxLayoutAlign.lt-md="center center">
        <!-- Materials Management -->
        <mat-card>
          <mat-card-header>
          </mat-card-header>
          <a (click)="openMaterialsDialogue()"><img class="my-1" mat-card-image src="../assets/images/stock.jpg"
              alt="MaterialsManagement" style="height: 200px; width: 300px;">
          </a>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
        <!-- Materials Management -->
        <!-- Project Management -->
        <mat-card>
          <mat-card-header>
            <!-- <mat-card-title>Project Management</mat-card-title> -->
          </mat-card-header>
          <a (click)="openProjectsDialogue()"><img class="my-1" mat-card-image src="../assets/images/pm.jpg" alt="ProjectManagement"
              style="height: 200px; width: 300px;">
          </a>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
        <!-- Project Management -->
        <!-- Learning Recources -->
        <mat-card>
          <mat-card-header>
            <!-- <mat-card-title>Knowledge Warehouse</mat-card-title> -->
          </mat-card-header>
          <a (click)="openKnowledgeDialogue()">
            <img class="my-1" mat-card-image src="../assets/images/Knowledge.jpeg" alt="Knowledge"
              style="height: 200px; width: 300px;">
          </a>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
        <!-- Learning Recources -->
      </div>
    </div>
  </div>
  <div class="my-3">
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
