
::placeholder {
  color: #03045e;
  opacity: 1;
  font-size: medium;
}
.container{
  color: #fb8500;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #03045e;
  height: 100vh;
}

.form-control{
  background-color: #fb8500;
  color: #03045e;
  border: none;
  font-size: medium;
  border-radius: 0 !important;
  font-weight:lighter;
}

 .form-select {
   background-color: #fb8500;
   color: #03045e;
   border: none;
   font-size: medium;
   font-weight: lighter;
  border-radius: 0 !important
 }

.mat-form-field{
   width: 400px;
   display: inline;
   border: none;
}

/* .signup-form{

   height: 100%;

} */
.name{
   display: inline-block;
}

.mat-raised-button{
   width: 50%;
   color: #03045e;
   background-color:#fb8500;
   height: 45px;
   border-radius: 0;
}

.register{
  display: inline-flex;
  vertical-align: middle;
}
a{
  text-decoration: none;
}

.form-label{
  font-weight: lighter;
}

.form-text {
  font-weight: lighter;
}
