<!-- Beginning of Test Radio Button -->
<!-- <div class="container">
  <h1>Test Radio Button</h1>
  <div class="form-check" *ngFor="let AccontType of AccountType">
    <input
      class="form-check-input"
      type="radio"
      name="AccontType"
      id="flexRadioDefault1"
      value="{{ AccontType.value }}"
      (change)="onRadioButtonChange($event)"
    />
    <label class="form-check-label" for="flexRadioDefault1">
      {{ AccontType.label }}
    </label>
  </div>
  <h3>Print the Radio Button Selection Here >>> {{ accountType }}</h3>
</div> -->

<!-- End of Test Radio Button -->

<div class="container">
  <h1 class="text-center my-4" style="font-weight: lighter">
    General Ledger Master Data Maintenance
  </h1>
  <form
    novalidate
    [formGroup]="formGroup"
    *ngIf="!isLoading"
    style="font-weight: lighter"
    (ngSubmit)="onCreateGLAccountMaster()"
  >
    <div
      class="bg-danger text-white p-2 mb-2"
      *ngIf="formSubmitted && formGroup.invalid"
    >
      <ul>
        <li *ngFor="let error of formGroup.getFormValidationMessages()">
          {{ error }}
        </li>
      </ul>
    </div>
    <div class="row my-5 border border-primary mx-2">
      <div class="col-md-6 my-5">
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >GL Account No.</span
          >
          <input
            type="text"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default"
            formControlName="accountNumber"
            [readonly]="readonly"
          />
        </div>
        <div>
          <ul
            class="text-danger list-unstyled"
            *ngIf="
              (formSubmitted || formGroup.controls['accountNumber'].dirty) &&
              formGroup.controls['accountNumber'].invalid
            "
          >
            <li
              *ngFor="
                let error of formGroup.getAccountNumberValidationMessages(
                  'accountNumber'
                )
              "
            >
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Company Code</span
          >
          <!-- Select field -->

          <select
            class="form-select form-control"
            aria-label="Default select example"
            formControlName="companyCode"
            id="companyCode"
            name="companyCode"
          >
            <option
              class="form-select"
              selected
              *ngFor="let companyCode of companyCode"
              [value]="companyCode.id"
            >
              <p>
                {{ companyCode.companyCode }} {{ companyCode.companyCodeName }}
              </p>
            </option>
          </select>
          <!-- End of Select field -->
        </div>
        <div>
          <ul
            class="text-danger list-unstyled"
            *ngIf="
              (formSubmitted || formGroup.controls['companyCode'].dirty) &&
              formGroup.controls['companyCode'].invalid
            "
          >
            <li
              *ngFor="
                let error of formGroup.getCompanyCodeValidationMessages(
                  'companyCode'
                )
              "
            >
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="inputGroup-sizing-default"
            >Chart of Accounts</span
          >
          <!-- Select Beginning -->
          <select
            class="form-select form-control"
            aria-label="Default select example"
            formControlName="chartOfAccounts"
            id="chartOfAccounts"
            name="chartOfAccounts"
          >
            <option
              class="form-select"
              selected
              *ngFor="let chartOfAccounts of chartOfAccounts"
              [value]="chartOfAccounts.id"
            >
              <p>
                {{ chartOfAccounts.coaCode }}
                {{ chartOfAccounts.chartOfAccountsName }}
              </p>
            </option>
          </select>
          <!-- End of Select -->
        </div>
        <ul
          class="text-danger list-unstyled"
          *ngIf="
            (formSubmitted || formGroup.controls['chartOfAccounts'].dirty) &&
            formGroup.controls['chartOfAccounts'].invalid
          "
        >
          <li
            *ngFor="
              let error of formGroup.getChartOfAccountsValidationMessages(
                'chartOfAccounts'
              )
            "
          >
            {{ error }}
          </li>
        </ul>
      </div>

      <div class="col-md-6 my-5">
        <div class="input-group my-3 justify-content-center">
          <span
            class="input-group-text"
            id="inputGroup-sizing-default"
            style="background-color: white"
          >
            <a>
              <mat-icon class="mx-2 my-2" (click)="onSearchGLAccount()"
                >pageview</mat-icon
              >
            </a>
            <a>
              <mat-icon class="mx-2 my-2" (click)="onEnableFields()"
                >note_add</mat-icon
              >
            </a>
            <a>
              <mat-icon class="mx-2 my-2">edit</mat-icon>
            </a>
            <a>
              <mat-icon class="mx-2 my-2" (click)="onCreateGLAccountMaster()"
                >save</mat-icon
              >
            </a>
            <a>
              <mat-icon class="mx-2 my-2">delete</mat-icon>
            </a>

            <a>
              <mat-icon class="mx-2 my-2">help</mat-icon>
            </a>
          </span>
        </div>
      </div>
    </div>

    <!-- Begining of test -->

    <!-- Tabs Content and Headers -->
    <div class="row my-5 border border-primary mx-2">
      <div class="col-md-12 my-5">
        <ul
          class="nav nav-tabs justify-content-center flex-row flex-md-row"
          role="navigation"
          data-bs-tabs="tabs"
          id="myTab"
        >
          <li class="nav-item mx-1 my-1">
            <a
              class="nav-link active"
              aria-current="page"
              data-bs-toggle="tab"
              href="#description"
              >Description</a
            >
          </li>
          <li class="nav-item mx-1 my-1">
            <a class="nav-link" data-bs-toggle="tab" href="#control">Control</a>
          </li>
          <li class="nav-item mx-1 my-1">
            <a class="nav-link" data-bs-toggle="tab" href="#bankInt"
              >Bank & Interest</a
            >
          </li>
          <li class="nav-item mx-1 my-1">
            <a class="nav-link" data-bs-toggle="tab" href="#coaInfo"
              >COA Information</a
            >
          </li>
          <li class="nav-item mx-1 my-1">
            <a class="nav-link" data-bs-toggle="tab" href="#CoCodeInfo"
              >CoCode Information</a
            >
          </li>
        </ul>
        <!-- Tab Content -->
        <div class="tab-content my-tab">
          <!-- Beginning of Description Tab -->
          <div class="tab-pane active" id="description">
            <div class="row my-3">
              <div class="col-md-6">
                <p>Control in Chart of Accounts</p>
                <!-- Select from Drop down -->
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >GL Account Type</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="accountType"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['accountType'].dirty) &&
                    formGroup.controls['accountType'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getAccountTypeValidationMessages(
                        'accountType'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Account Group</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="accountGroup"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['accountGroup'].dirty) &&
                    formGroup.controls['accountGroup'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getAccountGroupValidationMessages(
                        'accountGroup'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <p>Reporting</p>

                <div class="form-check" *ngFor="let AccountType of AccountType">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="AccontType"
                    id="flexRadioDefault1"
                    formControlName="balanceSheetAccount"
                    [value]="AccountType.value"
                    (change)="onRadioButtonChange($event)"
                  />
                  <input
                    class="form-check-input"
                    type="radio"
                    name="AccontType"
                    id="flexRadioDefault1"
                    formControlName="profitAndLossAccount"
                    [value]="AccountType.value"
                    (change)="onRadioButtonChange($event)"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    {{ AccountType.label }}
                  </label>
                </div>
                <h3>
                  Print the Radio Button Selection Here >>> {{ accountType }}
                </h3>

                <!-- <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                    [readonly]="readonly"
                    formControlName="balanceSheetAccount"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    <p>Balance Sheet Account</p>
                  </label>
                </div> -->
                <!-- <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                    checked
                    [readonly]="readonly"
                    formControlName="profitAndLossAccount"
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    <p>
                      Profit and Loss Statement
                      Account[value]="chartOfAccounts.id"
                    </p>
                  </label>
                </div> -->
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >P&l Statement Account Type</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="profitAndLossAccount"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['profitAndLossAccount'].dirty) &&
                    formGroup.controls['profitAndLossAccount'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getProfitAndLossAccountValidationMessages(
                        'profitAndLossAccount'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Business Area</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="businessArea"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['businessArea'].dirty) &&
                    formGroup.controls['businessArea'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getBusinessAreaValidationMessages(
                        'businessArea'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <p>Description</p>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Short Description</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="shortDescription"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['shortDescription'].dirty) &&
                    formGroup.controls['shortDescription'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getShortDescriptionValidationMessages(
                        'shortDescription'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Long Description</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="longDescription"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['longDescription'].dirty) &&
                    formGroup.controls['longDescription'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getLongDescriptionValidationMessages(
                        'longDescription'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <p class="my-3">Consolidation in Chart of Accounts</p>
              <div class="col-md-6">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Trading Partner</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="tradingPartner"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['tradingPartner'].dirty) &&
                    formGroup.controls['tradingPartner'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getTradingPartnerValidationMessages(
                        'tradingPartner'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!-- End of Description Tab -->
          <!-- Control Tab -->
          <div class="tab-pane" id="control">
            <div class="row my-3">
              <!-- Begining of first col of control panel -->
              <div class="col-md-6">
                <p>Account Control</p>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Account Currency</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="accountCurrency"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['accountCurrency'].dirty) &&
                    formGroup.controls['accountCurrency'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getAccountCurrencyValidationMessages(
                        'accountCurrency'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    [readonly]="readonly"
                    formControlName="onlyBalancesInLocalCurrency"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Only Balances in Local Currency</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['onlyBalancesInLocalCurrency']
                        .dirty) &&
                    formGroup.controls['onlyBalancesInLocalCurrency'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getonlyBalancesInLocalCurrencyValidationMessages(
                        'balancesInLocalCurrency'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Exchange Rate Diffence Key</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="exchangeRateKey"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['exchangeRateKey'].dirty) &&
                    formGroup.controls['exchangeRateKey'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getExchangeRateKeyValidationMessages(
                        'exchangeRateKey'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Valuation Group</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="valuationGroup"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['valuationGroup'].dirty) &&
                    formGroup.controls['valuationGroup'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getValuationGroupMessages(
                        'valuationGroup'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Tax Category</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="taxCategory"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['taxCategory'].dirty) &&
                    formGroup.controls['taxCategory'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getTaxCategoryValidationMessages(
                        'taxCategory'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    [readonly]="readonly"
                    formControlName="postingWithoutTaxAllowed"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Posting without Tax allowed</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['postingWithoutTaxAllowed'].dirty) &&
                    formGroup.controls['postingWithoutTaxAllowed'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getPostingWithoutTaxAllowedValidationMessages(
                        'postingWithoutTaxAllowed'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="mb-3">
                  <label for="Subject" class="form-label"
                    >Reconciliation Account Type</label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    formControlName="reconciliationAccountType"
                  >
                    <option
                      class="form-select"
                      selected
                      *ngFor="let account of reconciliationAcctType"
                      [value]="account.value"
                    >
                      <p style="color: #fb8500; background-color: #03045e">
                        {{ account.viewValue }}
                      </p>
                    </option>
                  </select>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['reconciliationAccountType'].dirty) &&
                    formGroup.controls['reconciliationAccountType'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getReconciliationAccountTypeValidationMessages(
                        'reconciliationAccountType'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Alternative Account Number</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="alternativeGLAccount"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['alternativeGLAccount'].dirty) &&
                    formGroup.controls['alternativeGLAccount'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getAlternativeGLAccountValidationMessages(
                        'alternativeGLAccount'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    formControlName="accountManagedinExternalSystem"
                    [readonly]="readonly"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Account Managed in External System</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['accountManagedinExternalSystem']
                        .dirty) &&
                    formGroup.controls['accountManagedinExternalSystem'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getAccountManagedinExternalSystemValidationMessages(
                        'accountManagedinExternalSystem'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Inflation Key</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="inflationKey"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['inflationKey'].dirty) &&
                    formGroup.controls['inflationKey'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getInflationKeyMessages(
                        'inflationKey'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Tolerance Group</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="toleranceGroup"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['toleranceGroup'].dirty) &&
                    formGroup.controls['toleranceGroup'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getToleranceGroupMessages(
                        'toleranceGroup'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
              </div>
              <!-- Second col of Control tab -->
              <div class="col-md-6">
                <p>Account Management</p>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    formControlName="openItemManagement"
                    [readonly]="readonly"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Open Item Management</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['openItemManagement'].dirty) &&
                    formGroup.controls['openItemManagement'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getOpenItemManagementValidationMessages(
                        'openItemManagement'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    [readonly]="readonly"
                    formControlName="lineItemManagement"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Line Item Display</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['lineItemManagement'].dirty) &&
                    formGroup.controls['lineItemManagement'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getLineItemManagementMessages(
                        'lineItemManagement'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Sort Key</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="sortKey"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted || formGroup.controls['sortKey'].dirty) &&
                    formGroup.controls['sortKey'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getSortKeyValidationMessages(
                        'sortKey'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Authorization Group</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="authorizationGroup"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['authorizationGroup'].dirty) &&
                    formGroup.controls['authorizationGroup'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getAuthorizationGroupValidationMessages(
                        'authorizationGroup'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
              </div>
              <!-- End of Second col of Control tab -->
            </div>
          </div>
          <!-- End of Control Tab -->
          <!-- Bank Interest Tap -->
          <div class="tab-pane" id="bankInt">
            <div class="row my-3">
              <div class="col-md-6">
                <p>Document Posting Control</p>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Field Status Group</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="fieldStatusGroup"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['fieldStatusGroup'].dirty) &&
                    formGroup.controls['fieldStatusGroup'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getFieldStatusGroupValidationMessages(
                        'fieldStatusGroup'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    formControlName="postAutomaticallyOnly"
                    [readonly]="readonly"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Post Automatically Only</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['postAutomaticallyOnly'].dirty) &&
                    formGroup.controls['postAutomaticallyOnly'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getPostAutomaticallyOnlyValidationMessages(
                        'postAutomaticallyOnly'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    formControlName="supplementAutomaticPostings"
                    [readonly]="readonly"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Supplement Automatic Postings</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['supplementAutomaticPostings']
                        .dirty) &&
                    formGroup.controls['supplementAutomaticPostings'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getSupplementAutomaticPostingsMessages(
                        'supplementAutomaticPostings'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    formControlName="reconciliationAccountInput"
                    [readonly]="readonly"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Reconciliation Account Ready for Input</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['reconciliationAccountInput'].dirty) &&
                    formGroup.controls['reconciliationAccountInput'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getReconciliationAccountInputValidationMessages(
                        'reconciliationAccountInput'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <p>Bank and Financial Information</p>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Planning Level</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="planningLevel"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['planningLevel'].dirty) &&
                    formGroup.controls['planningLevel'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getplanningLevelValidationMessages(
                        'planningLevel'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="form-check">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                    [readonly]="readonly"
                    formControlName="relevantToCashFlow"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    <p>Relevant to Cash Flow</p>
                  </label>
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['relevantToCashFlow'].dirty) &&
                    formGroup.controls['relevantToCashFlow'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getRelevantToCashFlowValidationMessages(
                        'relevantToCashFlow'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >House Bank</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="houseBank"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted || formGroup.controls['houseBank'].dirty) &&
                    formGroup.controls['houseBank'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getHouseBankValidationMessages(
                        'houseBank'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Account ID</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="houseBankAccountID"
                    [readonly]="readonly"
                  />
                </div>
                <ul
                  class="text-danger list-unstyled"
                  *ngIf="
                    (formSubmitted ||
                      formGroup.controls['houseBankAccountID'].dirty) &&
                    formGroup.controls['houseBankAccountID'].invalid
                  "
                >
                  <li
                    *ngFor="
                      let error of formGroup.getHouseBankAccountIDValidationMessages(
                        'houseBankAccountID'
                      )
                    "
                  >
                    {{ error }}
                  </li>
                </ul>
              </div>
            </div>

            <!-- Interest Calculation Information -->

            <!-- Interest Information end -->
          </div>
          <!-- End of Bank Interest Tab -->
          <!--Beginning of COA Information  -->
          <div class="tab-pane" id="coaInfo">
            <p>COA Information Tab</p>
          </div>
          <!-- End of COA Information -->
          <!--Beginning of CoCodeInfo Information  -->
          <div class="tab-pane" id="CoCodeInfo">
            <p>CoCodeInfo Tab</p>
          </div>
          <!-- End of CoCodeInfo Information -->
          <!-- End of Tab content -->
        </div>
      </div>
    </div>
  </form>
</div>
