<a (click)="onClose()" class="close-sidenav">
  <mat-icon>close</mat-icon>
</a>
<mat-nav-list>
    <a mat-list-item routerLink="/finance" (click)="onClose()">
      <mat-icon>home</mat-icon><span class="nav-caption">financeHub</span>
    </a>
    <a mat-list-item routerLink="/generalledgerhome" (click)="onClose()">
    <mat-icon>table_chart</mat-icon><span class="nav-caption">General Ledger</span>
  </a>
  <a mat-list-item routerLink="/sales" (click)="onClose()">
    <mat-icon>payment</mat-icon><span class="nav-caption">Accounts Payable</span>
  </a>
  <a mat-list-item routerLink="/projectManagement" (click)="onClose()">
    <mat-icon>receipt</mat-icon><span class="nav-caption"> Receivables</span>
  </a>
  <a mat-list-item routerLink="/finance" (click)="onClose()">
    <mat-icon>analytics</mat-icon><span class="nav-caption">Fixed Assets</span>
  </a>
  <a mat-list-item routerLink="/humanResources" (click)="onClose()">
    <mat-icon>money</mat-icon><span class="nav-caption">Banking</span>
  </a>
  <a mat-list-item routerLink="/materialsManagement" (click)="onClose()">
    <mat-icon>analytics</mat-icon><span class="nav-caption">Reporting</span>
  </a>

</mat-nav-list>
