.close-sidenav{
  right: 15px;
  position: absolute;
  cursor: pointer;
  color: #ee3e29;
}


ul {
  list-style-type: none;

}
p {
  font-size: 0.875rem;
  font-weight: lighter;
}
a {
  text-decoration: none;
  cursor: pointer;

}


.mat-nav-list {
  margin-top: 50%;
  margin-left: 0;

}


.mat-list-item {
  color: #ee3e29;
  font-weight: lighter;
  font-size: 0.875rem;

}




/* a {
  text-decoration: none;
  color: #ee3e29;
  font-size: 0.875rem;
  font-weight: lighter;
  cursor: pointer;
  background-color: #1c3144;
} */

/* .mat-expansion-panel {
  background-color: #1c3144;
  color: #ee3e29;
  font-size: 0.875rem;
  font-weight: lighter;

} */
/* .panel-title {
  color: #ee3e29;
  font-size: 0.875rem;
  font-weight: lighter;

} */

/* .mat-accordion {
  margin-top: 50%;
  margin-left: 10px;

}

ul {
  list-style-type: none;
}
p {
  font-size: 0.875rem;
  font-weight: lighter;
} */








