.mat-divider{
  background-color:#ee3e29;
}

.master-data-tabs{
max-width: 800px;
color:#ee3e29 ;
}
.mat-tab{
  color: #ee3e29;
}

.example-button-toggle-label {
  display: inline-block;
  margin: 16px;
}

.mat-button-toggle{
width: 50%;
color: #03045e;
background-color:#fb8500;

}



