<div class="mat-elevation-z8 gl-master-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <h2 class="my-3">New General Ledger Account Master Data</h2>
  <mat-divider></mat-divider>
  <mat-tab-group mat-stretch-tabs class="master-data-tabs mat-elevation-z4">
    <mat-tab label="Header">Header</mat-tab>
    <mat-tab label="General">General</mat-tab>
    <mat-tab label="Company Code Data">Company Code Data</mat-tab>
    <mat-tab label="Where Used">Where Used</mat-tab>
  </mat-tab-group>

</div>

