<a (click)="onClose()" class="close-sidenav">
  <mat-icon>close</mat-icon>
</a>
<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onClose()">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onClose()">
      <mat-icon>shopping_cart</mat-icon><span class="nav-caption">Sales</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onClose()">
        <mat-icon>construction</mat-icon><span class="nav-caption">Project Management</span>
    </a>
    <a mat-list-item routerLink="/finance" (click)="onClose()">
      <mat-icon>analytics</mat-icon><span class="nav-caption">Finance</span>
    </a>
  <a mat-list-item routerLink="/home" (click)="onClose()">
        <mat-icon>emoji_people</mat-icon><span class="nav-caption">Human Resources</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onClose()">
        <mat-icon>receipt</mat-icon><span class="nav-caption">Materials Management</span>
    </a>
    <a mat-list-item routerLink="/home" (click)="onLogOut()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Log out</span>
    </a>
</mat-nav-list>

<!-- Use expansion panel instead of mat tree for the user profile -->

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title">
        <mat-icon>manage_accounts</mat-icon><span class="nav-caption">
          <p>Profile</p>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <a>
        <li routerLink="/profile" (click)="onClose()">
          <p>Account</p>
        </li>
      </a>
      <a>
        <li routerLink="/activity" (click)="onClose()">
          <p>Tasks</p>
        </li>
      </a>
      <a>
        <li routerLink="/activityCategory" (click)="onClose()">
          <p>Task Category</p>
        </li>
      </a>
</ul>
</mat-expansion-panel>
</mat-accordion>
