
<p>generalLedger</p>
<!-- <mat-card>
  <mat-card-title>Mansactionsy Tr</mat-card-title>
</mat-card>
<mat-card>
  <mat-card-title>my Transactions</mat-card-title>
</mat-card> -->

<mat-grid-list cols="2" gutterSize="15px">
  <mat-grid-tile>
    details
  </mat-grid-tile>
  <mat-grid-tile>
    my Transactions
  </mat-grid-tile>
</mat-grid-list>


<li>
  <ul>
    <a routerLink="/glposting">Post General Ledger Document</a>
  </ul>
  <ul>
    <a routerLink="/createmaster">Create General Ledger Master Data</a>
  </ul>
  <ul>
    <a routerLink="/financehomepage">Finance Home Page</a>
  </ul>
</li>
<router-outlet></router-outlet>

