<div class="container">
  <div class="row">
    <div class="col-xs-12">

      <div class="alert alert-danger" *ngIf="error">
        <h5> An Error occured</h5>
        <p>{{ error }}</p>
      </div>
      <div class="card mx-auto mt-5" style="width: 40rem; border-color: #ff9e00;">
        <div class="card-body">
          <h5 class="card-title text-center">Activity Details</h5>
          <form (ngSubmit)="onAddActivity(newActivityForm)" #newActivityForm="ngForm">
            <!-- <div id="newActivityData"  ngModelGroup="newActivityData" #newActivityData="ngModelGroup"> -->
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                id="title"
                aria-describedby="title"
                ngModel
                name="title"
                required
                #title="ngModel">
              </div>
            </div>
            <div class="mb-3">
              <label for="desciption" class="form-label">Description</label>
              <textarea
              class="form-control"
              id="description"
              cols="83" rows="3"
              style="background-color: white;"
              ngModel
              name="description"
              required
              #description="ngModel">
            </textarea>
            </div>
            <div class="mb-3">
              <label for="slug" class="form-label">Slug</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                id="slug" aria-describedby="slug"
                ngModel
                name="slug"
                required
                #slug="ngModel">
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Created"
                id="status"
                aria-describedby="status"
                ngModel
                name="status"
                required
                #status="ngModel">
              </div>
            </div>

            <div class="mb-3">
              <label for="activityCategory" class="form-label">Activity Category</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                id="activity_category"
                aria-describedby="activity_category"
                ngModel
                name="activity_category"
                required
                #activityCategory="ngModel">
              </div>
            </div>

            <!-- <p *ngIf="!newActivityData.valid && newActivityData.touched">No fields should be blank</p> -->
            <div class="text-center">
              <button
              type="submit"
              class="btn btn-outline mx-2"
              style="color: #ff9e00; position: center;"
              [disabled]="!newActivityForm.valid"
              >Submit</button>
              <button type="button" class="btn btn-outline" style="color: #ff9e00; position: center;"
              routerLink="/activity">Back</button>
            </div>
            <!-- </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let activity of activityList">
  <p>{{ activity.id }}</p>
  <p>{{ activity.title }}</p>
  <p>{{ activity.description }}</p>
</div>
