<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <p>Are you sure you want to delete {{ }}</p>
  <p>The Dialogue data should be here... {{ dialogDataCategory }}</p>
</mat-dialog-content>


<mat-dialog-actions>

  <button type="submit" mat-raised-button color="primary" [disabled]="!formSubmitted && formGroup.invalid"
    (click)="onAddActivityCategory()">Submit</button>
  <button type="submit" mat-raised-button color="primary" mat-dialog-close="true">Close</button>

</mat-dialog-actions>
