

.mat-option {
  background-color:#03045e;
  color: #ff9e00;

}

.mat-raised-button{
  width: 50%;
  /* height: 50px; */

}
.textareas{
  text-decoration: none;
  color: #03045e;

}
.mat-form-field-appearance-outline .mat-form-field-outline {

  color: #03045e;

}

.mat-primary{
  background-color: #ff9e00;
  color: #03045e;
}

.contact-us{
  width: 100%;
  background-color: transparent;
  align-items: center;
}

.copyright{
  height: 20vh;
  text-align: center;
}

.mat-card {
  /* background-color: rgb(212, 188, 146); */
  /* background-color: #f6c77c;; */
  /* background-color: #f6cf90; */
  color: #03045e;
  background-color: antiquewhite;

  }
  .mat-input-element{
    color: #03045e;
  }

 .mat-icon{
   font-size: 25px;
 }

 .form-control{
  color: #ff9e00;
  background-color: #03045e;
  border-color: #ff9e00;
  border-width: thin;
 }

 .form-select{
  background-color: #03045e;
  color: #ff9e00;
  border-color: #ff9e00;

 }


