<!-- Beginning of Account Group Maintenance Templates -->
<div class="col-md-10" [ngSwitch]="selectedProcess">
  <!-- Beginning of Display Template -->
  <div *ngSwitchCase="'display'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e">
      Display Account Group
    </h2>
    <mat-dialog-content class="mat-typography">
      <form novalidate [formGroup]="formGroup" *ngIf="!isLoading">
        <div
          class="bg-danger text-white p-2 mb-2"
          *ngIf="formSubmitted && formGroup.invalid"
        >
          <ul>
            <li *ngFor="let error of formGroup.getFormValidationMessages()">
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="row my-1">
          <label for="inputAccountGroup" class="col-md-4 col-form-label"
            >Account Group</label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="inputAccountGroup"
              formControlName="accountGroup"
              [readonly]="readonly"
            />
          </div>
          <div>
            <ul
              class="text-danger list-unstyled"
              *ngIf="
                (formSubmitted || formGroup.controls['accountGroup'].dirty) &&
                formGroup.controls['accountGroup'].invalid
              "
            >
              <li
                *ngFor="
                  let error of formGroup.getAccountGroupValidationMessages(
                    'accountGroup'
                  )
                "
              >
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputDescription" class="col-md-4 col-form-label"
            >Account Group Description</label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="inputDescription"
              formControlName="description"
              [readonly]="readonly"
            />
          </div>
          <div>
            <ul
              class="text-danger list-unstyled"
              *ngIf="
                (formSubmitted || formGroup.controls['description'].dirty) &&
                formGroup.controls['description'].invalid
              "
            >
              <li
                *ngFor="
                  let error of formGroup.getDescriptionValidationMessages(
                    'description'
                  )
                "
              >
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        <mat-dialog-actions align="end" class="my-1">
          <button mat-raised-button mat-dialog-close cdkFocusInitial>
            <mat-icon class="mx-2 my-2">close</mat-icon>
            Close
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </div>
  <!-- End of Display Template -->
  <!-- Beginning of Create Template -->
  <div *ngSwitchCase="'create'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e">
      Create Account Group
    </h2>
    <mat-dialog-content class="mat-typography">
      <form novalidate [formGroup]="formGroup" *ngIf="!isLoading">
        <div
          class="bg-danger text-white p-2 mb-2"
          *ngIf="formSubmitted && formGroup.invalid"
        >
          <ul>
            <li *ngFor="let error of formGroup.getFormValidationMessages()">
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="row my-1">
          <label for="inputAccountGroup" class="col-md-4 col-form-label"
            >Account Group Code</label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="inputAccountGroup"
              formControlName="accountGroup"
            />
          </div>
          <div>
            <ul
              class="text-danger list-unstyled"
              *ngIf="
                (formSubmitted || formGroup.controls['accountGroup'].dirty) &&
                formGroup.controls['accountGroup'].invalid
              "
            >
              <li
                *ngFor="
                  let error of formGroup.getAccountGroupValidationMessages(
                    'accountGroup'
                  )
                "
              >
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputDescription" class="col-md-4 col-form-label"
            >Account Group Description</label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="inputDescription"
              formControlName="description"
            />
          </div>
          <div>
            <ul
              class="text-danger list-unstyled"
              *ngIf="
                (formSubmitted || formGroup.controls['description'].dirty) &&
                formGroup.controls['description'].invalid
              "
            >
              <li
                *ngFor="
                  let error of formGroup.getDescriptionValidationMessages(
                    'description'
                  )
                "
              >
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        <mat-dialog-actions align="end" class="my-1">
          <button
            type="submit"
            mat-raised-button
            cdkFocusInitial
            class="mx-1 my-1"
            (click)="onCreateAccountGroup()"
            [disabled]="!formSubmitted && formGroup.invalid"
          >
            <mat-icon class="mx-2 my-2">save</mat-icon>
            Save
          </button>
          <button mat-raised-button mat-dialog-close cdkFocusInitial>
            <mat-icon class="mx-2 my-2">close</mat-icon>
            Close
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </div>
  <!-- End of Create Template -->
  <!-- Beginning of Edit Template -->
  <div *ngSwitchCase="'edit'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e">
      Edit Account Group
    </h2>
    <mat-dialog-content class="mat-typography">
      <form novalidate [formGroup]="formGroup" *ngIf="!isLoading">
        <div
          class="bg-danger text-white p-2 mb-2"
          *ngIf="formSubmitted && formGroup.invalid"
        >
          <ul>
            <li *ngFor="let error of formGroup.getFormValidationMessages()">
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="row my-1">
          <label for="inputAccountGroup" class="col-md-4 col-form-label"
            >Account Group</label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="inputAccountGroup"
              formControlName="accountGroup"
            />
          </div>
          <div>
            <ul
              class="text-danger list-unstyled"
              *ngIf="
                (formSubmitted || formGroup.controls['accountGroup'].dirty) &&
                formGroup.controls['accountGroup'].invalid
              "
            >
              <li
                *ngFor="
                  let error of formGroup.getAccountGroupValidationMessages(
                    'accountGroup'
                  )
                "
              >
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputAccountDescription" class="col-md-4 col-form-label"
            >Account Group Description</label
          >
          <div class="col-md-8">
            <input
              type="text"
              class="form-control"
              id="inputAccountDescription"
              formControlName="description"
              [readOnly]="readonly"
            />
          </div>
          <div>
            <ul
              class="text-danger list-unstyled"
              *ngIf="
                (formSubmitted || formGroup.controls['description'].dirty) &&
                formGroup.controls['description'].invalid
              "
            >
              <li
                *ngFor="
                  let error of formGroup.getDescriptionValidationMessages(
                    'description'
                  )
                "
              >
                {{ error }}
              </li>
            </ul>
          </div>
        </div>
        <mat-dialog-actions align="end" class="my-1">
          <button
            type="submit"
            mat-raised-button
            cdkFocusInitial
            class="mx-1 my-1"
            (click)="onEditAccountGroup()"
            [disabled]="!formSubmitted && formGroup.invalid"
          >
            <mat-icon class="mx-2 my-2">save</mat-icon>
            Save
          </button>
          <button mat-raised-button mat-dialog-close cdkFocusInitial>
            <mat-icon class="mx-2 my-2">close</mat-icon>
            Close
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </div>
  <!-- End of Edit Template -->

  <!-- Beginning of Delete Template -->
  <div *ngSwitchCase="'delete'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e">
      Delete Account Group
    </h2>
    <mat-dialog-content>
      <p style="font-weight: lighter; color: #03045e">
        Are you sure you want to delete the following Account Group ?
      </p>
      <ul>
        <li>
          <p style="font-weight: lighter; color: #03045e">
            Account Group -
            <span class="title-desc">{{ accountGroup.accountGroup }}</span>
          </p>
        </li>
        <li>
          <p style="font-weight: lighter; color: #03045e">
            Account Group -
            <span class="title-desc">{{ accountGroup.description }}</span>
          </p>
        </li>
      </ul>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="my-1">
      <button
        type="submit"
        mat-raised-button
        cdkFocusInitial
        mat-dialog-close
        class="mx-1 my-1"
        (click)="onDeleteAccountGroup()"
      >
        <mat-icon class="mx-2 my-2">save</mat-icon>
        Yes
      </button>
      <button mat-raised-button mat-dialog-close cdkFocusInitial>
        <mat-icon class="mx-2 my-2">close</mat-icon>
        No
      </button>
    </mat-dialog-actions>
  </div>
  <!-- End of Delete Template -->
</div>
<!-- End of Account Groups  maintainance templates -->
