.container {
  height: 100vh;
}

.input-group-text {
  color: #03045e;
  border: none;
  background-color: transparent;
}

.mat-table {
  width: 100%;
}

.mat-header-cell {
  font-weight: lighter;
  color: #03045e;
}

.mat-cell {
  color: #03045e;
  font-weight: lighter;
  font-size: small;
}

.mat-elevation-z8 {
  border-radius: 0;
}

/* .mat-paginator {
  background-color: transparent;
  color: #03045e;
} */

.mat-raised-button {
  font-weight: lighter;
  border: none;

}

.button {
  background-color: rgb(241, 232, 232);
}

p {
  font-size: small;
  font-weight: lighter;
  color: #03045e;
}

.mat-icon {
  color: #03045e;
}

th {
  font-weight: lighter;
  color: #03045e;
}
