<div class="container">
  <div class="row my-1 justify-content-center">
    <div class="col-md-6 my-1">
      <div class="input-group my-1 justify-content-center">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <button
            mat-raised-button
            cdkFocusInitial
            class="mx-1 my-1"
            (click)="onCreateAccountGroup('create')">
            <mat-icon class="mx-2 my-2">note_add</mat-icon>Create Account Group
          </button>
        </span>
      </div>
    </div>
  </div>
  <div class="row my-1">
    <div class="col">
      <!-- Begining of Table -->
      <table
        mat-table
        [dataSource]="sourceData"
        class="mat-elevation-z8 my-3"
        matSort
        matSortActive="accountGroup"
        matSortDisableClear
        matSortDirection="asc"
      >
        <!-- Number Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
          <td mat-cell *matCellDef="let row">{{ row.id | number }}</td>
        </ng-container>
        <!-- Account Group Code Column -->
        <ng-container matColumnDef="accountGroup">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Account Group Code</th>
          <td mat-cell *matCellDef="let row">{{ row.accountGroup }}</td>
        </ng-container>
        <!-- Account Group Description  Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef>Account Group Description</th>
          <td mat-cell *matCellDef="let row">{{ row.description }}</td>
        </ng-container>
        <!-- Display  Column -->
        <ng-container matColumnDef="display">
          <th mat-header-cell *matHeaderCellDef>Display</th>
          <td mat-cell *matCellDef="let row">
            <a (click)="maintainAccountGroup('display', row.id)">
              <mat-icon>pageview</mat-icon>
            </a>
          </td>
        </ng-container>
        <!-- Edit  Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef>Edit</th>
          <td mat-cell *matCellDef="let row">
            <a>
              <mat-icon (click)="maintainAccountGroup('edit', row.id)">edit</mat-icon>
            </a>
          </td>
        </ng-container>
        <!-- Delete  Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef>Delete</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon (click)="maintainAccountGroup('delete', row.id)">delete</mat-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="accountGroupColumnHeaders"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: accountGroupColumnHeaders"
        ></tr>
      </table>
      <!-- End of Table -->
      <mat-paginator
        [length]="resultsLength"
        [pageSize]="10"
        [pageSizeOptions]="[10]"
      ></mat-paginator>
    </div>
  </div>
</div>
