<!-- Beginning of Controlling Maintenance Templates -->
<div class="col-md-10" [ngSwitch]="selectedProcess">
  <!-- Beginning of Display Template -->
  <div *ngSwitchCase="'display'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e;">Display Controlling Area</h2>
    <mat-dialog-content class="mat-typography">
      <form novalidate [formGroup]="formGroup" *ngIf="!isLoading">
        <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.invalid">
          <ul>
            <li *ngFor="let error of formGroup.getFormValidationMessages()">
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="row my-1">
          <label for="inputControllingArea" class="col-md-4 col-form-label">Controlling Area</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputControllingArea" formControlName="controllingArea"
              [readonly]="readonly">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['controllingArea'].dirty) && formGroup.controls['controllingArea'].invalid">
              <li *ngFor="let error of formGroup.getControllingAreaValidationMessages('controllingArea')">{{ error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputControllingAreaName" class="col-md-4 col-form-label">Controlling Area Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputControllingAreaName" formControlName="controllingAreaName"
              [readonly]="readonly">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['controllingAreaName'].dirty) && formGroup.controls['controllingAreaName'].invalid">
              <li *ngFor="let error of formGroup.getControllingAreaNameValidationMessages('controllingAreaName')">{{
                error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputPersonResponsible" class="col-md-4 col-form-label">Personal Responsible</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputpersonResponsible" formControlName="personResponsible"
              [readonly]="readonly">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['personResponsible'].dirty) && formGroup.controls['personResponsible'].invalid">
              <li *ngFor="let error of formGroup.getPersonResponsibleValidationMessages('personResponsible')">{{ error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputCompanyCode" class="col-md-4 col-form-label">Company Code</label>
          <div class="col-md-8">
            <select class="form-select form-control-lg" aria-label="Default select example"
              formControlName="companyCode" id="companyCode" name="companyCode">
              <option class="form-select" selected *ngFor="let companyCode of companyCodeList" [value]="companyCode.id">
                {{ companyCode.companyCode }} {{ companyCode.companyCodeName }}
              </option>
            </select>
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['companyCode'].dirty) && formGroup.controls['companyCode'].invalid">
              <li *ngFor="let error of formGroup.getCompanyCodeValidationMessages('companyCode')">{{ error}}</li>
            </ul>
          </div>
        </div>
        <mat-dialog-actions align="end" class="my-1">
          <button mat-raised-button mat-dialog-close cdkFocusInitial>
            <mat-icon class="mx-2 my-2">close</mat-icon>
            Close
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </div>
  <!-- End of Display Template -->
  <!-- Beginning of Create Template -->
  <div *ngSwitchCase="'create'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e;">Create Controlling Area</h2>
    <mat-dialog-content class="mat-typography">
      <form novalidate [formGroup]="formGroup" *ngIf="!isLoading">
        <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.invalid">
          <ul>
            <li *ngFor="let error of formGroup.getFormValidationMessages()">
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="row my-1">
          <label for="inputControllingArea" class="col-md-4 col-form-label">Controlling Area</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputControllingArea" formControlName="controllingArea">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['controllingArea'].dirty) && formGroup.controls['controllingArea'].invalid">
              <li *ngFor="let error of formGroup.getControllingAreaValidationMessages('controllingArea')">{{ error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputControllingAreaName" class="col-md-4 col-form-label">Controlling Area Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputControllingAreaName" formControlName="controllingAreaName">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['controllingAreaName'].dirty) && formGroup.controls['controllingAreaName'].invalid">
              <li *ngFor="let error of formGroup.getControllingAreaNameValidationMessages('controllingAreaName')">{{
                error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputPersonResponsible" class="col-md-4 col-form-label">Personal Responsible</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputpersonResponsible" formControlName="personResponsible">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['personResponsible'].dirty) && formGroup.controls['personResponsible'].invalid">
              <li *ngFor="let error of formGroup.getPersonResponsibleValidationMessages('personResponsible')">{{ error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputCompanyCode" class="col-md-4 col-form-label">Company Code</label>
          <div class="col-md-8">
            <select class="form-select form-control-lg" aria-label="Default select example" formControlName="companyCode"
              id="companyCode" name="companyCode">
              <option class="form-select" selected *ngFor="let companyCode of companyCodeList" [value]="companyCode.id">
                {{ companyCode.companyCode }} {{ companyCode.companyCodeName }}
              </option>
            </select>
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['companyCode'].dirty) && formGroup.controls['companyCode'].invalid">
              <li *ngFor="let error of formGroup.getCompanyCodeValidationMessages('companyCode')">{{ error}}</li>
            </ul>
          </div>
        </div>
        <mat-dialog-actions align="end" class="my-1">
          <button type="submit" mat-raised-button cdkFocusInitial class="mx-1 my-1" (click)="onCreateControllingArea()"
            [disabled]="!formSubmitted && formGroup.invalid">
            <mat-icon class="mx-2 my-2">save</mat-icon>
            Save
          </button>
          <button mat-raised-button mat-dialog-close cdkFocusInitial>
            <mat-icon class="mx-2 my-2">close</mat-icon>
            Close
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </div>
  <!-- End of Create Template -->
  <!-- Beginning of Edit Template -->
  <div *ngSwitchCase="'edit'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e;">Edit Controlling Area Information</h2>
    <mat-dialog-content class="mat-typography">
      <form novalidate [formGroup]="formGroup" *ngIf="!isLoading">
        <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.invalid">
          <ul>
            <li *ngFor="let error of formGroup.getFormValidationMessages()">
              {{ error }}
            </li>
          </ul>
        </div>
        <div class="row my-1">
          <label for="inputControllingArea" class="col-md-4 col-form-label">Controlling Area</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputControllingArea" formControlName="controllingArea">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['controllingArea'].dirty) && formGroup.controls['controllingArea'].invalid">
              <li *ngFor="let error of formGroup.getControllingAreaValidationMessages('controllingArea')">{{ error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputControllingAreaName" class="col-md-4 col-form-label">Controlling Area Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputControllingAreaName" formControlName="controllingAreaName">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['controllingAreaName'].dirty) && formGroup.controls['controllingAreaName'].invalid">
              <li *ngFor="let error of formGroup.getControllingAreaNameValidationMessages('controllingAreaName')">{{
                error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputPersonResponsible" class="col-md-4 col-form-label">Personal Responsible</label>
          <div class="col-md-8">
            <input type="text" class="form-control" id="inputpersonResponsible" formControlName="personResponsible">
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['personResponsible'].dirty) && formGroup.controls['personResponsible'].invalid">
              <li *ngFor="let error of formGroup.getPersonResponsibleValidationMessages('personResponsible')">{{ error}}
              </li>
            </ul>
          </div>
        </div>
        <div class="row my-3">
          <label for="inputCompanyCode" class="col-md-4 col-form-label">Company Code</label>
          <div class="col-md-8">
            <select class="form-select form-control-lg" aria-label="Default select example" formControlName="companyCode"
              id="companyCode" name="companyCode">
              <option class="form-select" selected *ngFor="let companyCode of companyCodeList" [value]="companyCode.id">
                {{ companyCode.companyCode }} {{ companyCode.companyCodeName }}
              </option>
            </select>
          </div>
          <div>
            <ul class="text-danger list-unstyled"
              *ngIf="(formSubmitted || formGroup.controls['companyCode'].dirty) && formGroup.controls['companyCode'].invalid">
              <li *ngFor="let error of formGroup.getCompanyCodeValidationMessages('companyCode')">{{ error}}</li>
            </ul>
          </div>
        </div>
        <mat-dialog-actions align="end" class="my-1">
          <button type="submit" mat-raised-button cdkFocusInitial class="mx-1 my-1" (click)="onEditControllingArea()"
            [disabled]="!formSubmitted && formGroup.invalid">
            <mat-icon class="mx-2 my-2">save</mat-icon>
            Save
          </button>
          <button mat-raised-button mat-dialog-close cdkFocusInitial>
            <mat-icon class="mx-2 my-2">close</mat-icon>
            Close
          </button>
        </mat-dialog-actions>
      </form>
    </mat-dialog-content>
  </div>
  <!-- End of Edit Template -->
  <!-- Beginning of Delete Template -->
  <div *ngSwitchCase="'delete'">
    <h2 mat-dialog-title style="font-weight: lighter; color: #03045e;">Delete Controlling Area</h2>
    <mat-dialog-content>
      <p style="font-weight: lighter; color: #03045e;">Are you sure you want to delete the following Controlling Area?
      </p>
      <ul>
        <li>
          <p style="font-weight: lighter; color: #03045e;">Controlling Area - <span class="title-desc">{{
              controllingArea.controllingArea
              }}</span>
          </p>
        </li>
        <li>
          <p style="font-weight: lighter; color: #03045e;">Controlling Area Name - <span class="title-desc">{{
              controllingArea.controllingAreaName
              }}</span>
          </p>
        </li>
      </ul>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="my-1">
      <button type="submit" mat-raised-button cdkFocusInitial mat-dialog-close class="mx-1 my-1"
        (click)="onDeleteControllingArea()">
        <mat-icon class="mx-2 my-2">save</mat-icon>
        Yes
      </button>
      <button mat-raised-button mat-dialog-close cdkFocusInitial>
        <mat-icon class="mx-2 my-2">close</mat-icon>
        No
      </button>
    </mat-dialog-actions>
  </div>
  <!-- End of Delete Template -->
</div>
<!-- End of Controlling Area maintainance templates -->
