.alert-danger
{
  font-weight: lighter;
  border-radius: 0;

}

.alert-info
{
  font-weight: lighter;
  border-radius: 0;

}

/* .mat-raised-button { */
  /* color: white; */
  /* background-color: #03045e;
  color: red; */
  /* background-color: red; */
  /* border-radius: 0;
  font-weight: lighter;
  border: none; */
/* } */
