<div class="home-page-modules" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px"
    fxLayoutAlign="center center">
    <section>
        <mat-card class="example-card" fxFlex="300px">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Project Management</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <a routerLink="/login"><img mat-card-image src="../assets/images/pm.jpg" alt="ProjectManagement"></a>

            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati
                    provident
                    neque sint placeat laboriosam quam!
                </p>
            </mat-card-content>
        </mat-card>
    </section>
    <section>
        <mat-card class="example-card" fxFlex="300px">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Finance</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <a routerLink="/login"><img mat-card-image src="../assets/images/finance.jpg" alt="Finance"
                    style="height: 200px;"></a>

            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati
                    provident
                    neque sint placeat laboriosam quam!
                </p>
            </mat-card-content>
        </mat-card>
    </section>
    <section>
        <mat-card class="example-card" fxFlex="300px">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Human Resources</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <a routerLink="/login"><img mat-card-image src="../assets/images/hr.jpg" alt="HumanResources"></a>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati
                    provident
                    neque sint placeat laboriosam quam!
                </p>
            </mat-card-content>
        </mat-card>
    </section>
    <section>
        <mat-card class="example-card" fxFlex="300px">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Materials Management</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <a routerLink="/login"><img class="mt-3" mat-card-image src="../assets/images/stock.jpg"
                    alt="MaterialsManagement"></a>
            <mat-card-content>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati
                    provident
                    neque sint placeat laboriosam quam!
                </p>
            </mat-card-content>
        </mat-card>
    </section>
</div>
<app-footer></app-footer>
