
.body{
  background-color: #03045e;
  color: #fb8500;
}
.mat-form-field{
   width: 400px;
   display: inline;
}

.signup-form{
   height: 100vh;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 5px;
   padding-right: 5px;
}

.name{
   display: inline-block;
}

.mat-raised-button{
   width: 50%;
   color: #03045e;
   background-color:#fb8500;
}

::placeholder {
  color: #0d00a4;
  opacity: 1;
}


input.ng-dirty.ng-invalid
{ border: 2px solid #ff0000 }

input.ng-dirty.ng-valid
{ border: 2px solid #6bc502 }
