<div class="container my-5 justify-content-center">
<div class="row">
  <div class="col">
    <div class="d-grid gap-3">
      <button class="btn btn-primary mat-elevation-z8" type="submit" (click)="onSelectAccountGroup()"><a>
          <p>Account Group</p>
        </a></button>
      <button class="btn btn-primary mat-elevation-z8" type="button" (click)="onSelectTaxCode()"><a>
          <p class="card-title">Tax Code</p>
        </a></button>
      <!-- <button class="btn btn-primary mat-elevation-z8" type="button"><a>
          <p class="card-title" (click)="onSelectChartOfAccounts()">Chart of Accounts</p>
        </a></button>
      <button class="btn btn-primary mat-elevation-z8" type="button"><a>
          <p class="card-title" (click)="onSelectControllingArea()">Controlling Area</p>
        </a></button>
      <button class="btn btn-primary mat-elevation-z8" type="button"><a>
          <p class="card-title" (click)="onSelectBusinessArea()">Business Area</p>
        </a></button> -->
    </div>
  </div>
</div>
</div>
