<div class="container my-3 justify-content-center">
   <h1 class="text-center my-2" style="font-weight: lighter; color: #03045e;">General Ledger Transaction Codes</h1>
   <div class="row">
    <div class="col-md-2">
      <!-- Beginning of Transaction Codes Listing -->
      <app-trans-code-list></app-trans-code-list>
      <!-- End of Transactions Codes Listing -->
    </div>
    <div class="col-md-10" [ngSwitch]="itemSelected">
      <!-- Beginning of Traansactions codes details -->

      <div *ngSwitchCase="'accountGroup'">
        <p>Account Groups</p>
      </div>
      <div *ngSwitchCase="'taxCode'">
        <p>Tax Codes</p>
      </div>
      <div *ngSwitchDefault>
        <p>Default Page</p>
      </div>
      <!-- End of Transactiion codes details -->
    </div>
   </div>
</div>


