<div>
  <h2 class="text-center p-3">General Ledger</h2>
  <mat-divider></mat-divider>
  <div fxLayout="row" fxLayoutGap="5px grid" fxLayoutAlign="center center" fxLayout.lt-md="column"
    fxLayoutGap.lt-md="5px grid">
    <!-- <div class="mt-0">
      <mat-card class="mat-elevation-z0 gl-menu mb-3">
        <mat-card-header>
          <mat-card-title>myTransactions</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutGap="10px grid" fxLayoutAlign="center center">
          <a routerLink="./glmasterdata"><button class="mx-2 my-4 mat-elevation-z8" mat-raised-button color="accent">
              <h3><strong>Master Data</strong></h3>
            </button></a>
          <a routerLink="/finance"><button class="mx-2 my-4 mat-elevation-z8" mat-raised-button color="accent">
              <h3><strong>Document Entry</strong></h3>
            </button></a>
          <a routerLink="/finance"><button class="mx-2 my-4 mat-elevation-z8" mat-raised-button color="accent">
              <h3><strong>Reporting</strong></h3>
            </button></a>
            <a routerLink="/glhome"><button class="mx-2 my-4 mat-elevation-z8" mat-raised-button color="accent">
                <h3><strong>Home</strong></h3>
              </button></a>
        </mat-card-content>
      </mat-card>
    </div> -->
    <div>
      <mat-card class="mat-elevation-z0 gl-details mt-4">
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

</div>
