.gl-home{
  width: 100%;
  padding: 10px;
  height: 100%;

}

.display-cards{
  max-height: max-content;
  margin-left: 5px;
}


.gl-menu{
  max-width: 250px;
  height: calc(100vh - 160px);
  /* padding: 10px; */
  margin-right: 10px;
  margin-left: 10px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.gl-details{
  width: 1085px;
  height: calc(100vh - 160px);
  /* padding: 10px; */
  margin-right: 10px;
  margin-left: 10px;
}

  .mat-raised-button{
   width: 200px;
   height: 100px;
   color: #1c3144;
   background-color:#ee3e29;
}
