

:host{
  background-color: #03045e;
  display: block;
  height: 100vh
}

a {
  text-decoration: none;
}

.profile-picture{
  width: 400px;
  margin-bottom: 8px;
  margin-top: 3px;
  background: transparent;

}

.profile-page{
   height: 100vh;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 5px;
   padding-right: 5px;
}

mat-card{

  box-shadow: none !important;
  align-items: center;
}


.mat-stroked-button{
  color: #03045e;
  background-color: #fb8500;
  border-radius: 0;
  font-weight: lighter;
}

.mat-raised-button{
   width: 50%;
   color: #03045e;
   background-color:#fb8500;
   border-radius: 0;
}

.mat-card-title, .mat-card-subtitle{
  color: #fb8500;
  font-weight: lighter;
}

img {
  border-radius: 50%;
}

a {
  cursor: pointer;
}

.btn-primary {
  color: #fb8500;
  border-radius: 0;
  text-align: center;
  font-weight: lighter;
  border: none;
  background-color: transparent;
}

p {
  font-weight: lighter;
}

.form-control{
  border-radius: 0;
  background-color: #fb8500;
  color: #03045e;
  font-weight: lighter;
  border: none;
}

.mat-select{

  background-color: #fb8500;
  color: #03045e;
  font-weight: lighter;
  border: none;
  font-weight: lighter;
  border-radius: 0 !important
}

 .form-select {
   background-color: #fb8500;
   color: #03045e;
   border: none;
   font-size: medium;
   font-weight: lighter;
   border-radius: 0 !important
 }

 textarea {
  border-width: thin;
  border-color: #ff9e00;
  border-radius: 0;
  color: #fb8500;
  font-weight: lighter;
  resize: none;
  width: 100%;
  background-color:#03045e;
 }

 .form-label {
  font-weight: lighter;
 }

.profile-picture-upload {
  font-weight: lighter;
  border-radius: 0;
  color: #fb8500;
  border-width: 0;
}

.btn-primary {
  color: #03045e;
  background-color: #fb8500;
  border-radius: 0;
}

.preview {
  max-width: 200px;
}








