<!-- Profile picture sections -->

<div class="container my-5 mx-5">
  <div class="row">
    <div class="col-md-4 my-5">
      <div class="row">
        <div class="col-md-12 justify-content-center my-5">
          <mat-card class="profile-picture">
            <img mat-card-md-image class="mt-3" src="/assets/images/vri.png" />
            <mat-card-title-group class="mt-3">
              <mat-card-title *ngFor="let loggedUser of currentLoggedInUser">
                {{ loggedUser.first_name }} {{ loggedUser.middle_name }}
                {{ loggedUser.last_name }}</mat-card-title
              >
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              <mat-card-actions align="end">
                <button
                  class="justify-content-center"
                  type="submit"
                  mat-stroked-button
                  color="primary"
                >
                  Update
                </button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="container my-2 justify-content-center">
            <div class="row">
              <div class="col">
                <div class="d-grid gap-3">
                  <button
                    class="btn btn-primary mat-elevation-z8"
                    type="submit"
                    (click)="onSelectPersonalInformation()"
                  >
                    <a>
                      <p>Personal Information</p>
                    </a>
                  </button>
                  <button
                    class="btn btn-primary mat-elevation-z8"
                    type="button"
                    (click)="onSelectBio()"
                  >
                    <a>
                      <p class="card-title">Bio</p>
                    </a>
                  </button>
                  <button
                    class="btn btn-primary mat-elevation-z8"
                    type="button"
                  >
                    <a>
                      <p class="card-title" (click)="onSelectInterests()">
                        Interests
                      </p>
                    </a>
                  </button>
                  <button
                    class="btn btn-primary mat-elevation-z8"
                    type="button"
                  >
                    <a>
                      <p class="card-title" (click)="onSelectSettings()">
                        Settings
                      </p>
                    </a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 my-5 justify-content-center" [ngSwitch]="itemSelected">
      <div
        *ngSwitchCase="'personalInformation'"
        class="mat-elevation-z8 mx-5 my-5 p-5"
      >
        <!-- Official Personal Information -->
        <div class="container justify-content-center">
          <h1 style="font-weight: light; text-align: center">
            Edit Personal Information
          </h1>
          <form [formGroup]="formGroup" novalidate>
            <fieldset [disabled]="isDisabled">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="first_name" class="form-label">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="first_name"
                    formControlName="first_name"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted ||
                        formGroup.controls['first_name'].dirty) &&
                      formGroup.controls['first_name'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getfirstNameValidationMessages(
                          'first_name'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <label for="middle_name" class="form-label"
                    >Middle Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="middle_name"
                    formControlName="middle_name"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted ||
                        formGroup.controls['middle_name'].dirty) &&
                      formGroup.controls['middle_name'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getMiddleNameValidationMessages(
                          'middle_name'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="last_name" class="form-label">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="last_name"
                    formControlName="last_name"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted ||
                        formGroup.controls['last_name'].dirty) &&
                      formGroup.controls['last_name'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getlastNameValidationMessages(
                          'last_name'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <label for="date_of_birth" class="form-label">Birthday</label>
                  <input
                    class="form-control"
                    id="date_of_birth"
                    type="date"
                    max="{{ maxDate | date : 'yyyy-MM-dd' }}"
                    formControlName="date_of_birth"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted ||
                        formGroup.controls['date_of_birth'].dirty) &&
                      formGroup.controls['date_of_birth'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getBirthDayValidationMessages(
                          'date_of_birth'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="phone_number" class="form-label"
                    >Telephone Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone_number"
                    formControlName="phone_number"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted ||
                        formGroup.controls['phone_number'].dirty) &&
                      formGroup.controls['phone_number'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getPhoneNumberValidationMessages(
                          'phone_number'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    formControlName="username"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted || formGroup.controls['username'].dirty) &&
                      formGroup.controls['username'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getUserNameValidationMessages(
                          'username'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="email" class="form-label">email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted || formGroup.controls['email'].dirty) &&
                      formGroup.controls['email'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getEmailValidationMessages(
                          'email'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>

                <div class="col-md-6">
                  <label for="gender" class="form-label">Gender</label>
                  <select
                    class="form-select form-control"
                    id="gender"
                    name="gender"
                    formControlName="gender"
                  >
                    <option
                      class="form-select"
                      selected
                      *ngFor="let gender of gender"
                      [value]="gender.value"
                    >
                      <p style="color: #fb8500; background-color: #03045e">
                        {{ gender.viewValue }}
                      </p>
                    </option>
                  </select>
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted || formGroup.controls['gender'].dirty) &&
                      formGroup.controls['gender'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getGenderValidationMessages(
                          'gender'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="city" class="form-label">City</label>
                  <input
                    type="city"
                    class="form-control"
                    id="city"
                    formControlName="city"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted || formGroup.controls['city'].dirty) &&
                      formGroup.controls['city'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getCityValidationMessages('city')
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <label for="country" class="form-label">Country</label>
                  <input
                    type="country"
                    class="form-control"
                    id="country"
                    formControlName="country"
                  />
                  <ul
                    class="text-danger list-unstyled"
                    *ngIf="
                      (formSubmitted || formGroup.controls['country'].dirty) &&
                      formGroup.controls['country'].invalid
                    "
                  >
                    <li
                      *ngFor="
                        let error of formGroup.getCountryValidationMessages(
                          'country'
                        )
                      "
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
            </fieldset>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              class="mt-3 mb-5"
            >
              <div
                fxLayout="row"
                fxLayoutGap="13px"
                fxLayout.lt-md="column"
                fxLayoutGap.lt-md="13px"
                fxLayoutAlign="center center"
              >
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  (click)="update()"
                >
                  Edit
                </button>
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  [disabled]="!formSubmitted && formGroup.invalid"
                  (click)="submitForm()"
                >
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- End of Official Personal Information -->
      </div>
      <div
        *ngSwitchCase="'interests'"
        class="mat-elevation-z8 mx-5 my-5 p-5"
        style="background-color: #03045e"
      >
        <h1 style="font-weight: lighter">Hobbies</h1>
        <div class="row my-3">
          <div class="col-md-12">
            <label for="professional" class="form-label">
              <h2 style="font-weight: lighter">Professional</h2></label
            >
            <textarea rows="10">
              Some text...

            </textarea>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-12">
            <label for="personal" class="form-label"
              ><h2 style="font-weight: lighter">Personal</h2></label
            >
            <textarea rows="10">Some text...</textarea>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-12">
            <label for="social" class="form-label">
              <h2 style="font-weight: lighter">Social</h2></label
            >
            <textarea rows="10">Some text...</textarea>
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="mt-3 mb-5">
          <div
            fxLayout="row"
            fxLayoutGap="13px"
            fxLayout.lt-md="column"
            fxLayoutGap.lt-md="13px"
            fxLayoutAlign="center center"
          >
            <button
              type="submit"
              mat-raised-button
              color="primary"
              (click)="update()"
            >
              Edit
            </button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!formSubmitted && formGroup.invalid"
              (click)="editUserProfile()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'bio'" class="mat-elevation-z8 mx-5 my-5 p-5">
        <h1 style="font-weight: lighter">Bio</h1>
        <div class="row my-3">
          <div class="col-md-12">
            <label for="education" class="form-label"
              ><h2 style="font-weight: lighter">Education</h2></label
            >
            <textarea rows="10">Some text...</textarea>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-md-12">
            <label for="professional" class="form-label">
              <h2 style="font-weight: lighter">Professional</h2></label
            >
            <textarea rows="10">Some text...</textarea>
          </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" class="mt-3 mb-5">
          <div
            fxLayout="row"
            fxLayoutGap="13px"
            fxLayout.lt-md="column"
            fxLayoutGap.lt-md="13px"
            fxLayoutAlign="center center"
          >
            <button
              type="submit"
              mat-raised-button
              color="primary"
              (click)="update()"
            >
              Edit
            </button>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!formSubmitted && formGroup.invalid"
              (click)="submitForm()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'settings'" class="mat-elevation-z8 mx-5 my-5 p-5">
        Settings
      </div>
      <div *ngSwitchDefault class="mat-elevation-z8 mx-5 my-5 p-5">
        <!-- Default template to be displayed -->
        <!-- Official Personal Information -->
        <div class="container justify-content-center">
          <h1 style="font-weight: light; text-align: center">
            Your Personal Information
          </h1>
          <form [formGroup]="formGroup" novalidate>
            <!-- <div
              class="bg-danger text-white p-2 mb-2"
              *ngIf="formSubmitted && formGroup.invalid"
            >
              <ul>
                <li *ngFor="let error of formGroup.getFormValidationMessages()">
                  {{ error }}
                </li>
              </ul>
            </div> -->
            <fieldset [disabled]="isDisabled">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="first_name" class="form-label">First Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="first_name"
                    formControlName="first_name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="middle_name" class="form-label"
                    >Middle Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="middle_name"
                    formControlName="middle_name"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="last_name" class="form-label">Last Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="last_name"
                    formControlName="last_name"
                  />
                </div>
                <div class="col-md-6">
                  <label for="date_of_birth" class="form-label">Birthday</label>
                  <input
                    class="form-control"
                    id="date_of_birth"
                    type="date"
                    max="{{ maxDate | date : 'yyyy-MM-dd' }}"
                    formControlName="date_of_birth"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="username" class="form-label">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    id="username"
                    formControlName="username"
                  />
                </div>
                <div class="col-md-6">
                  <label for="email" class="form-label">email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="phone_number" class="form-label"
                    >Telephone Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phone_number"
                    formControlName="phone_number"
                  />
                </div>
                <div class="col-md-6">
                  <label for="gender" class="form-label">Gender</label>
                  <select
                    class="form-select form-control"
                    id="gender"
                    name="gender"
                    formControlName="gender"
                  >
                    <option
                      class="form-select"
                      selected
                      *ngFor="let gender of gender"
                      [value]="gender.value"
                    >
                      <p style="color: #fb8500; background-color: #03045e">
                        {{ gender.viewValue }}
                      </p>
                    </option>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label for="city" class="form-label">City</label>
                  <input
                    type="city"
                    class="form-control"
                    id="city"
                    formControlName="city"
                  />
                </div>
                <div class="col-md-6">
                  <label for="country" class="form-label">Country</label>
                  <input
                    type="country"
                    class="form-control"
                    id="country"
                    formControlName="country"
                  />
                </div>
              </div>
            </fieldset>
            <div
              fxLayout="column"
              fxLayoutAlign="center center"
              class="mt-3 mb-5"
            >
              <!-- <div
                fxLayout="row"
                fxLayoutGap="13px"
                fxLayout.lt-md="column"
                fxLayoutGap.lt-md="13px"
                fxLayoutAlign="center center"
              >
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  (click)="update()"
                >
                  Edit
                </button>
                <button
                  type="submit"
                  mat-raised-button
                  color="primary"
                  [disabled]="!formSubmitted && formGroup.invalid"
                  (click)="submitForm()"
                >
                  Save
                </button>
              </div> -->
            </div>
          </form>
        </div>
        <!-- End of Official Personal Information -->

        <!-- End of default template to be displayed -->
      </div>
    </div>
  </div>
</div>

<!--  Should be deleted after completion-->
<!-- <div
  fxLayout="column"
  fxLayout.lt-md="column"
  fxLayoutGap.lt-md="20px"
  fxLayoutAlign="center center"
>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap.lt-md="20px"
    fxLayoutAlign="center center"
  >
    <div class="p-3">
      <mat-card class="profile-picture">
        <img mat-card-md-image class="mt-3" src="/assets/images/vri.png" />
        <mat-card-title-group class="mt-3">
          <mat-card-title>{{ loggedInUser }}</mat-card-title>
          <mat-card-subtitle>Date last updated</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <mat-card-actions align="start">
            <button
              class="mx-2"
              type="submit"
              mat-stroked-button
              color="primary"
            >
              Update
            </button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->
<!-- Account settings section -->
<!-- <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutGap.lt-md="20px"
    fxLayoutAlign="center center"
  >
    <div class="mx-5 my-3 p-5">
      <app-account-settings></app-account-settings>
    </div>
  </div>
</div> -->
