body {
  /* background-color: #03045e; */
  height: 100vh;
}
:host{

  background-color: #03045e;
  display: block;
  height: 100vh
}
a {
  text-decoration: none;
}

.account-settings {
  height: 10vh;

}

.profile-picture{

  width: 400px;
  margin-bottom: 8px;
  margin-top: 3px;
  background: transparent;

}

.profile-page{

   height: 100vh;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 5px;
   padding-right: 5px;
}

mat-card{
  width: 500px;
  box-shadow: none !important;
}
.mat-raised-button{

   color: #03045e;
   background-color: #fb8500;
;
}
.mat-card-title, .mat-card-subtitle{
  /* color: #03045e; */
  color: #fb8500;
}

img {
  border-radius: 50%;
}


.stretched-tabs {
  width: 1200px;
  

}

.mat-tab-group{
background-color: #03045e;
color: #fb8500 ;

}

.mat-tab-label.mat-tab-label-active.mat-tab {
   color: #03045e;
   background-color: #fb8500;
}





