a {
  text-decoration: none;
  color: #ff9e00;
  font-size: 0.875rem;
  font-weight: lighter;
}
.navigation-items {
  list-style: none;
  padding: 0;
  margin: none;
}
h4 {
  font-weight: lighter;
}

.navbar-brand {
  color: #ff9e00;
}
.form-control {
  border-radius: 0;
  border-color: #ff9e00;
  color: #03045e;
}
.btn-outline-success {
  background-color: #03045e;
  border-radius: 0;
  color: #ff9e00;
  border-color: #ff9e00;
}
