<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="color: #ff9e00;">smallFarms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: #ff9e00;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #ff9e00;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #ff9e00;">Contact Us</a>
        </li>
      </ul>
      <form class="d-flex ms-5">
        <input class="form-control me-2 mt-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline mt-1" type="submit" style="color: #ff9e00;">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle" href="#" style="color: #ff9e00;" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Profile
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:#0d00a4 ;">
            <li><a routerLink="/login" class="dropdown-item" style="color: #ff9e00; cursor: pointer;">Log In</a></li>
            <li><a routerLink="/signup" class="dropdown-item" style="color: #ff9e00; cursor: pointer;">Sign Up</a></li>
            <li><a routerLink="/profile" class="dropdown-item" style="color: #ff9e00; cursor: pointer;">Edit Profile</a>
            </li>
            <li><a routerLink="/activity" class="dropdown-item" style="color: #ff9e00; cursor: pointer;">Activitys</a>
            </li>
            <li><a class="dropdown-item" href="#" style="color: #ff9e00;">Sign Out</a></li>
          </ul>
        
        </li>
      </ul>
    </div>
  </div>
</nav>
