<div class="container">
  <!-- Contact us header -->
  <div>
    <h1 class="my-5" style="text-align: center">contact Us..</h1>
  </div>
  <!-- Contact details -->
  <div class="row g-5 justify-content-center">
    <div class="col-md-8">
      <form>
        <div class="mb-3">
          <label for="Name" class="form-label">Name</label>
          <input type="text" class="form-control" id="Name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
          <div id="email" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="Subject" class="form-label">Subject</label>
          <select class="form-select" aria-label="Default select example">
            <option
              class="form-select"
              selected
              *ngFor="let service of services"
              [value]="service.value"
            >
              <p style="color: #fb8500; background-color: #03045e">
                {{ service.viewValue }}
              </p>
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="YourMessage" class="form-label">Your message</label>
          <textarea class="form-control" id="YourMessage" rows="8"></textarea>
        </div>
        <div class="mb-3">
          <div class="d-grid gap-2">
            <button class="btn btn-outline" type="button">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <div class="row justify-content-center my-5 g-5">
      <div class="col-md-6">
        <!-- Contact Us   -->
        <mat-icon>location_on</mat-icon
        ><span class="nav-caption"
          ><div id="emailHelp" class="form-text">
            Wambugu Groove, Parklands, Nairobi
          </div></span
        >
        <mat-icon>email</mat-icon
        ><span class="nav-caption">
          <div id="emailHelp" class="form-text">info@smallfarms.org</div>
        </span>
        <mat-icon>phone</mat-icon
        ><span class="nav-caption">
          <div id="emailHelp" class="form-text">Phone: (+254) 707021822</div>
        </span>
      </div>
      <!-- End of Contat Us  -->
    </div>
  </div>
  <!-- Copyright  -->
  <div class="row justify-content-center my-5">
    <div class="col-md-12">
      <div>
        <small>
          <p class="copyright">
            Copyright &copy;smallFarms
            <span>{{ date | date : "yyyy" }}</span> all rights reserved
          </p>
        </small>
      </div>
    </div>
  </div>
</div>
