
.mat-form-field{
   width: 400px;
   display: inline;
}

.signup-form{

   height: 100%;

}

.name{
   display: inline-block;
}

.mat-raised-button{
   width: 50%;
   color: #03045e;
   background-color:#fb8500;
}

.register{
  display: inline-flex;
  vertical-align: middle;
}
a{
  text-decoration: none;
}
