<section class="signup-form mt-5 mb-5" fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
  fxLayoutAlign="center center">
  <h1>Sign up</h1>
  <div fxFlex="600px" fxLayout="column" fxFlex.md="100">
    <form (ngSubmit)="submitForm()" novalidate [formGroup]="formGroup" *ngIf="!isLoading">
      <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.invalid">
        <ul>
          <li *ngFor="let error of formGroup.getFormValidationMessages()">
            {{ error }}
          </li>
        </ul>
      </div>
      <div fxLayout='row' fxLayoutGap="20px" class="mt-5" fxLayout.lt-md='column' fxLayoutGap.lt-md="20px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name" id="first_name" name="first_name" formControlName="first_name">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['first_name'].dirty) && formGroup.controls['first_name'].invalid">
            <li *ngFor="let error of formGroup.getfirstNameValidationMessages('first_name')">{{ error}}</li>
          </ul>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name" id="last_name" name="last_name" formControlName="last_name">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['last_name'].dirty) && formGroup.controls['last_name'].invalid">
            <li *ngFor="let error of formGroup.getlastNameValidationMessages('last_name')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date of Birth" id="date_of_birth"
            name="date_of_birth" formControlName="date_of_birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['date_of_birth'].dirty) && formGroup.controls['date_of_birth'].invalid">
            <li *ngFor="let error of formGroup.getBirthDayValidationMessages('date_of_birth')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input type="tel" matInput placeholder="Phone Number" id="phone_number" name="phone_number"
            formControlName="phone_number">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['phone_number'].dirty) && formGroup.controls['phone_number'].invalid">
            <li *ngFor="let error of formGroup.getPhoneNumberValidationMessages('phone_number')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>username</mat-label>
          <input type="text" matInput placeholder="username" id="username" name="username" formControlName="username">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['username'].dirty) && formGroup.controls['username'].invalid">
            <li *ngFor="let error of formGroup.getUserNameValidationMessages('username')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input type="email" matInput placeholder="email" id="email" name="email" formControlName="email">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['email'].dirty) && formGroup.controls['email'].invalid">
            <li *ngFor="let error of formGroup.getEmailValidationMessages('email')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" placeholder="gender" id="gender" name="gender">
            <mat-option *ngFor="let gender of gender" [value]="gender.value">
              {{ gender.viewValue }}
            </mat-option>

          </mat-select>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['gender'].dirty) && formGroup.controls['gender'].invalid">
            <li *ngFor="let error of formGroup.getUserNameValidationMessages('gender')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput placeholder="City" id="city" name="city" formControlName="city">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['city'].dirty) && formGroup.controls['city'].invalid">
            <li *ngFor="let error of formGroup.getEmailValidationMessages('city')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput hintLabel="Your password should have a minimum of 12 characters"
            placeholder="Password" id="password" name="password" formControlName="password">
          <!-- <mat-hint align="end">{{ userSignUp.length }}/12</mat-hint> -->
          <mat-hint>Your password must contain 12 characters or more.</mat-hint>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['password'].dirty) && formGroup.controls['password'].invalid">
            <li *ngFor="let error of formGroup.getPasswordValidationMessages('password')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput placeholder="Confirm password" id="confirmPassword" name="confirmPassword"
            formControlName="confirmPassword">
          <mat-hint>Ensure that the passwords are the same</mat-hint>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['confirmPassword'].dirty) && formGroup.controls['confirmPassword'].invalid">
            <li *ngFor="let error of formGroup.getConfirmPasswordValidationMessages('confirmPassword')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='column' fxLayoutAlign="center center" class="mt-5">
        <button type="submit" mat-raised-button color="primary"
          [disabled]="!formSubmitted && formGroup.invalid">Submit</button>
      </div>
    </form>

  </div>
</section>
