<section class="signup-form mt-5 mb-5" fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
  fxLayoutAlign="center center">
  <h1>Sign up</h1>
  <div fxFlex="600px" fxLayout="column" fxFlex.md="100">
    <form (ngSubmit)="submitForm()" novalidate [formGroup]="formGroup" *ngIf="!isLoading">
      <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.invalid">
        <ul>
          <li *ngFor="let error of formGroup.getFormValidationMessages()">
            {{ error }}
          </li>
        </ul>
      </div>
      <div fxLayout='row' fxLayoutGap="20px" class="mt-5" fxLayout.lt-md='column' fxLayoutGap.lt-md="20px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name" id="firstName" name="firstName"
            formControlName="firstName">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['firstName'].dirty) && formGroup.controls['firstName'].invalid">
            <li *ngFor="let error of formGroup.getfirstNameValidationMessages('firstName')">{{ error}}</li>
          </ul>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name" id="lastName" name="lastName" formControlName="lastName">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['lastName'].dirty) && formGroup.controls['lastName'].invalid">
            <li *ngFor="let error of formGroup.getlastNameValidationMessages('lastName')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date of Birth" id="dateOfBirth"
            name="dateOfBirth" formControlName="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['birthday'].dirty) && formGroup.controls['birthday'].invalid">
            <li *ngFor="let error of formGroup.getBirthDayValidationMessages('birthday')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input type="tel" matInput placeholder="Phone Number" id="phoneNumber" name="phoneNumber"
            formControlName="phoneNumber">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['phoneNumber'].dirty) && formGroup.controls['phoneNumber'].invalid">
            <li *ngFor="let error of formGroup.getPhoneNumberValidationMessages('phoneNumber')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>username</mat-label>
          <input type="text" matInput placeholder="username" id="username" name="username" formControlName="username">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['username'].dirty) && formGroup.controls['username'].invalid">
            <li *ngFor="let error of formGroup.getUserNameValidationMessages('username')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input type="email" matInput placeholder="email" id="email" name="email" formControlName="email">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['email'].dirty) && formGroup.controls['email'].invalid">
            <li *ngFor="let error of formGroup.getEmailValidationMessages('email')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender">
            <mat-option *ngFor="let gender of gender" [value]="gender.value">
              {{ gender.viewValue }}
            </mat-option>

          </mat-select>

          <!-- <input type="text" matInput placeholder="gender" id="gender" name="gender" formControlName="gender"> -->


          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['gender'].dirty) && formGroup.controls['gender'].invalid">
            <li *ngFor="let error of formGroup.getUserNameValidationMessages('gender')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput placeholder="City" id="city" name="city" formControlName="city">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['city'].dirty) && formGroup.controls['city'].invalid">
            <li *ngFor="let error of formGroup.getEmailValidationMessages('city')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput hintLabel="Your password should have a minimum of 12 characters"
            placeholder="Password" id="password" name="password" formControlName="password">
          <!-- <mat-hint align="end">{{ userSignUp.length }}/12</mat-hint> -->
          <mat-hint>Your password must contain 12 characters or more.</mat-hint>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['password'].dirty) && formGroup.controls['password'].invalid">
            <li *ngFor="let error of formGroup.getPasswordValidationMessages('password')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput placeholder="Confirm password" id="confirmPassword" name="confirmPassword"
            formControlName="confirmPassword">
          <mat-hint>Ensure that the passwords are the same</mat-hint>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls['confirmPassword'].dirty) && formGroup.controls['confirmPassword'].invalid">
            <li *ngFor="let error of formGroup.getConfirmPasswordValidationMessages('confirmPassword')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='column' fxLayoutAlign="center center" class="mt-5">
        <button type="submit" mat-raised-button color="primary"
          [disabled]="!formSubmitted && formGroup.invalid">Submit</button>
      </div>
    </form>

  </div>
</section>

<!-- <section class="signup-form mt-5 mb-5" fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
  fxLayoutAlign="center center">
  <h1>Sign up</h1>
  <div fxFlex="600px" fxLayout="column" fxFlex.md="100">
    <form (ngSubmit)="signUp(userSignUpForm)" #userSignUpForm="ngForm" *ngIf="!isLoading">
      <div fxLayout='row' fxLayoutGap="20px" class="mt-5" fxLayout.lt-md='column' fxLayoutGap.lt-md="20px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name" id="firstName" name="firstName" ngModel required
            #firstName="ngModel">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name" id="lastName" name="lastName" ngModel required
            #lastName="ngModel">
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date of Birth" id="dateOfBirth"
            name="dateOfBirth" ngModel required #dateOfBirth="ngModel">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input type="tel" matInput placeholder="Phone Number" id="phoneNumber" name="phoneNumber" ngModel required
            #phoneNumber="ngModel">
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>username</mat-label>
          <input type="text" matInput placeholder="username" id="username" name="username" ngModel required
            #username="ngModel">
        </mat-form-field>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input type="email" matInput placeholder="email" id="email" name="email" ngModel required #email="ngModel">
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password" matInput hintLabel="Your password should have a minimum of 12 characters"
            placeholder="Password" id="password" name="password" ngModel required #password="ngModel" #pwInput="ngModel"
            minlength="12">
          <mat-hint align="end">{{ pwInput.value?.length }}/12</mat-hint>
          <mat-hint>Your password must contain 12 characters or more.</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput placeholder="Confirm password" id="confirmPassword" name="confirmPassword"
            ngModel required #confirmPassword="ngModel" minlength="12">
          <mat-hint>Ensure that the passwords are the same</mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout='column' fxLayoutAlign="center center" class="mt-5">
        <button type="submit" mat-raised-button color="primary" [disabled]="!userSignUpForm.valid">Submit</button>
      </div>
    </form>

  </div>
</section> -->
<!--
<section class="signup-form" fxLayout='column' fxLayoutAlign="center center" fxLayoutGap="13px">
  <h1>Sign up</h1>
  <form (ngSubmit)="signUp(userSignUpForm)" #userSignUpForm="ngForm" *ngIf="!isLoading">
    <div fxLayout='row' fxLayoutGap="13px" class="mt-5" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
      fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input type="text" matInput placeholder="First Name" id="firstName" name="firstName" ngModel required
          #firstName="ngModel">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input type="text" matInput placeholder="Last Name" id="lastName" name="lastName" ngModel required
          #lastName="ngModel">
      </mat-form-field>
    </div>
    <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
      fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date of Birth" id="dateOfBirth"
          name="dateOfBirth" ngModel required #dateOfBirth="ngModel">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input type="tel" matInput placeholder="Phone Number" id="phoneNumber" name="phoneNumber" ngModel required
          #phoneNumber="ngModel">
      </mat-form-field>
    </div>
    <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
      fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>username</mat-label>
        <input type="text" matInput placeholder="username" id="username" name="username" ngModel required
          #username="ngModel">
      </mat-form-field>
      <mat-form-field>
        <mat-label>email</mat-label>
        <input type="email" matInput placeholder="email" id="email" name="email" ngModel required #email="ngModel">
      </mat-form-field>
    </div>
    <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
      fxLayoutAlign="center center">
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput hintLabel="Your password should have a minimum of 12 characters"
          placeholder="Password" id="password" name="password" ngModel required #password="ngModel" #pwInput="ngModel"
          minlength="12">
        <mat-hint align="end">{{ pwInput.value?.length }}/12</mat-hint>
        <mat-hint>Your password must contain 12 characters or more.</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat Password</mat-label>
        <input type="password" matInput placeholder="Confirm password" id="confirmPassword" name="confirmPassword"
          ngModel required #confirmPassword="ngModel" minlength="12">
        <mat-hint>Ensure that the passwords are the same</mat-hint>
      </mat-form-field>
    </div>
    <div fxLayout='column' fxLayoutAlign="center center" class="mt-5">
      <button type="submit" mat-raised-button color="primary" [disabled]="!userSignUpForm.valid">Submit</button>
    </div>
  </form>
</section> -->






<!--  first_name, last_name, username, email, password, confirm password, phonenumber -->


<!--
<div class="container">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-md-6 col-md-offset-3 mt-5">
        <div class="alert alert-danger" *ngIf="error">
          <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
            <form (ngSubmit)="signUp(userSignUpForm)" #userSignUpForm="ngForm" *ngIf="!isLoading">
                <div class="mb-3">
                    <div class="form-group">
                      <input
                      type="text"
                      id="username"
                      class="form-control"
                      name="username"
                      ngModel
                      required
                      #username="ngModel"
                      placeholder="username"
                      style="background-color:#ff9e00; border: none;"
                      aria-describedby="username">
                    </div>
                    <p class="mt-3" *ngIf="!username.valid && username.touched">Enter a valid email </p>
                  </div>
                <div class="mb-3 mt-5">
                  <div class="form-group">
                    <input
                    type="text"
                    id="email"
                    class="form-control"
                    name="email" ngModel
                    required
                    email
                    #email="ngModel"
                    placeholder="email"
                    style="background-color:#ff9e00; border: none;"
                    aria-describedby="email">
                  </div>
                  <p class="mt-3" *ngIf="!email.valid && email.touched">Enter a valid email </p>
                </div>
                <div class="mb-3 mt-5">
                  <div class="form-group">
                    <input
                    type="password"
                    style="background-color: #ff9e00; border: none;"
                    placeholder="Password"
                    class="form-control"
                    id="password"
                    aria-describedby="password"
                    ngModel
                    name="password"
                    required
                    minlength="12"
                    #password="ngModel">
                  </div>
                  <p *ngIf="!password.valid && password.touched" class="mt-3">Your password must have 12 characters </p>
                </div>
                <div class="mb-3 mt-5">
                    <div class="form-group">
                    <input
                    type="password"
                    style="background-color: #ff9e00; border: none;"
                    placeholder="Confirm Password"
                    class="form-control"
                    id="confirmPassword"
                    aria-describedby="confirmPassword"
                    ngModel
                    name="confirmPassword"
                    required
                    minlength="12"
                    #confirmPassword="ngModel">
                </div>
                <p *ngIf="!confirmPassword.valid && confirmPassword.touched" class="mt-3">Passwords do not match </p>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-outline w-100 mt-4" style="color: #ff9e00; position: center; background-color:#0d00a4; border-width: 1px;"
                    [disabled]="!userSignUpForm.valid">Sign Up</button>
                    <a href="#" class="text-decoration-none"><p class="mt-4">Forgot Username or Password?</p></a>
                    <p>Already have an account? <span><a href="#" class="text-decoration-none" style="color:#ff9e00;"
                      routerLink="/login">Log In</a></span></p>
                      <a routerLink="/home" class="footer-icons"><fa-icon [icon]="['fas', 'home']" style="font-size: 2rem;"></fa-icon></a>
                </div>
            </form>
      </div>
    </div>
  </div>
  -->
