.form-control{
  background-color:#fb8500;
  color: #03045e;
  border-radius: 0;
  border: none;
}

.mat-raised-button {
  width: 10px;
  color: #03045e;
  background-color: #fb8500;
  border-radius: 0;
  font-size: smaller;
  font-weight: lighter;
}

.input-group{
  font-size: medium;
  font-weight: lighter;
  color: #03045e;
}

.container {
  text-align: center;
}

.form-select{
  color: #fb8500;
  background-color: #03045e;
  border: none;
  font-weight: lighter;

}

