<!-- <div class="container">
  <app-header></app-header> -->
<div class="justify-content-center container">
  <div>
    <h2 class="text-center my-3" style="font-weight: lighter; color: #03045e">
      My Personal Information
    </h2>
  </div>
  <div class="row">
    <div class="col-md-2 my-3">
      <div class="d-grid gap-2">
        <button
          class="btn btn-lg btn-outline-success"
          type="button"
          routerLink="/home"
        >
          Home
        </button>
      </div>
    </div>
    <div class="col-md-2 my-3">
      <div class="d-grid gap-2">
        <button
          class="btn btn-lg btn-outline-success"
          type="button"
          (click)="onSelectActivity()"
        >
          Tasks
        </button>
      </div>
    </div>
    <div class="col-md-2 my-3">
      <div class="d-grid gap-2">
        <button
          class="btn btn-lg btn-outline-success"
          type="button"
          (click)="onSelectActivityCategory()"
        >
          Tasks Category
        </button>
      </div>
    </div>
    <div class="col-md-2 my-3">
      <div class="d-grid gap-2">
        <button
          class="btn btn-lg btn-outline-success"
          type="button"
          (click)="onSelectBio()"
        >
          My Account
        </button>
      </div>
    </div>
    <div class="col-md-2 my-3">
      <div class="d-grid gap-2">
        <button
          class="btn btn-lg btn-outline-success"
          type="button"
          (click)="onSelectSecurity()"
        >
          Security
        </button>
      </div>
    </div>
    <div class="col-md-2 my-3">
      <div class="d-grid gap-2">
        <button
          class="btn btn-lg btn-outline-success"
          type="button"
          (click)="onLogOut()"
        >
          Log Out
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" [ngSwitch]="itemSelected">
      <div *ngSwitchCase="'activity'">
        <app-todo></app-todo>
      </div>
      <div *ngSwitchCase="'activityCategory'">
        <app-activity-categorys></app-activity-categorys>
      </div>
      <div *ngSwitchCase="'bio'">
        <app-bio></app-bio>
      </div>
      <div *ngSwitchCase="'security'">
        <app-password-sec></app-password-sec>
      </div>
      <div *ngSwitchDefault>
        <app-bio></app-bio>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
