
.home-page-modules{
    text-align: center;
    margin-top: 5px;
    height: 80vh;

}

.mat-card{
margin-bottom: 8px;
background-color:transparent;
color: #ff9e00;
/* margin-left: 2px;
margin-right: 2px; */
height: 60vh;
width: 100%;

}

.container .cardWrap div{
height: 60vh;
margin-left: 2px;
margin-right: 2px;
}
