<div class="home-page" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" fxLayoutAlign="center center">
  <section>
    <h2>Welcome to smallFarmers</h2>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rem perferendis, pariatur adipisci reprehenderit
      nemo dolores, corporis porro nihil reiciendis cum hic dignissimos rerum vel. Nisi ea consequatur in blanditiis
      illum deleniti provident sed! Quo quae expedita obcaecati similique excepturi voluptate atque, voluptatum
      inventore. Error in saepe aliquam beatae et!</p>
  </section>
</div>
<div>
  <section>
    <mat-divider></mat-divider>
  </section>
</div>
<div class="home-page-modules" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="1.5rem"
  fxLayoutAlign="center center">
  <section>
    <mat-card class="example-card" fxFlex="300px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Project Management</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <a routerLink="/login"><img mat-card-image src="../assets/images/pm.jpg" alt="ProjectManagement"></a>

      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati provident
          neque sint placeat laboriosam quam!
        </p>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <mat-card class="example-card" fxFlex="300px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Finance</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <a routerLink="/login"><img mat-card-image src="../assets/images/finance.jpg" alt="Finance"
          style="height: 200px;"></a>

      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati provident
          neque sint placeat laboriosam quam!
        </p>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <mat-card class="example-card" fxFlex="300px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Human Resources</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <a routerLink="/login"><img mat-card-image src="../assets/images/hr.jpg" alt="HumanResources"></a>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati provident
          neque sint placeat laboriosam quam!
        </p>
      </mat-card-content>
    </mat-card>
  </section>
  <section>
    <mat-card class="example-card" fxFlex="300px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Materials Management</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <a routerLink="/login"><img class="mt-3" mat-card-image src="../assets/images/stock.jpg"
          alt="MaterialsManagement"></a>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni deleniti odit eius ullam obcaecati provident
          neque sint placeat laboriosam quam!
        </p>
      </mat-card-content>
    </mat-card>
  </section>
</div>

<!-- Bootstrap homepage -->
<!-- <div class="container">

  <p>home works! with route</p>

  access - {{ payloadToken }}
  refresh - {{ payloadTokenRefresh }}

  decoded-access - {{ decodedPayloadToken }}
  decoded-refresh - {{ decodedPayloadTokenRefresh }}



  <h4> Welcome to subsistence farmer,</h4>
  <h5> Users from the secure API end point</h5>
  <h4> UserID {{ userId }} , from stored user {{ userName }}</h4>
  <h3> Name {{ userName }}</h3>

  <h3> Token expiry date {{ tokenExpiry }}</h3>
  <ul *ngIf="users">
    <li *ngFor="let user of users">
      First Name - {{ user.first_name }}
      Last Name - {{ user.last_name }}
      Username - {{ user.username }}
      user id - {{ user.id }}
    </li>
  </ul>
</div> -->
<!-- End of Bootstrap Home page -->
<app-footer></app-footer>
