<!-- <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" fxLayoutAlign="center center">
  <div class="home-page">
    <h2>Welcome to smallFarmers</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ut totam consequuntur cumque? Veniam,
      doloribus quaerat reprehenderit porro earum rerum soluta laboriosam esse voluptatum alias neque quidem eveniet,
      nesciunt incidunt vero omnis placeat ab. Dolor, facere vero rerum maxime provident nulla quibusdam rem aliquid,
      velit distinctio, dolores perferendis quia asperiores?</p>
  </div>

  test it
</div> -->
<!-- <app-modules></app-modules>
<app-footer></app-footer> -->

<!-- Bootstrap homepage -->
<!-- <div class="container">

  <p>home works! with route</p>

  access - {{ payloadToken }}
  refresh - {{ payloadTokenRefresh }}

  decoded-access - {{ decodedPayloadToken }}
  decoded-refresh - {{ decodedPayloadTokenRefresh }}



  <h4> Welcome to subsistence farmer,</h4>
  <h5> Users from the secure API end point</h5>
  <h4> UserID {{ userId }} , from stored user {{ userName }}</h4>
  <h3> Name {{ userName }}</h3>

  <h3> Token expiry date {{ tokenExpiry }}</h3>
  <ul *ngIf="users">
    <li *ngFor="let user of users">
      First Name - {{ user.first_name }}
      Last Name - {{ user.last_name }}
      Username - {{ user.username }}
      user id - {{ user.id }}
    </li>
  </ul>
</div> -->
<!-- End of Bootstrap Home page -->
