
.button-class{
   /* display: inline-block;
   padding: 2rem; */
   margin-right: 15px;
}

mat-form-field{
   width: 400px;
   display: inline;

}

.activity-form{

   height: 75vh;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 5px;
   padding-right: 5px;
}

.name{
   display: inline-block;
}

.mat-raised-button{
   width: 30%;
   color: #03045e;
   background-color:#fb8500;
   margin-right: 1rem;
   padding-right: 1rem;
}
