<h1 mat-dialog-title>{{ title }}</h1>

<mat-dialog-content [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Title</mat-label> <input type="text" matInput placeholder="Title" id="firstName" name="title"
      formControlName="title">
    <ul class="text-danger list-unstyled"
      *ngIf="(formSubmitted || formGroup.controls['title'].dirty) && formGroup.controls['title'].invalid">
      <li *ngFor="let error of formGroup.getTitleNameValidationMessages('title')">{{ error}}</li>
    </ul>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input type="text" matInput placeholder="Description" id="description" name="description"
      formControlName="description">
    <ul class="text-danger list-unstyled"
      *ngIf="(formSubmitted || formGroup.controls['description'].dirty) && formGroup.controls['description'].invalid">
      <li *ngFor="let error of formGroup.getDescriptionValidationMessages('description')">{{ error}}</li>
    </ul>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="status" placeholder="Status" id="status" name="status">
      <mat-option *ngFor="let status of status" [value]="status.value">
        {{ status.viewValue }}
      </mat-option>
    </mat-select>
    <ul class="text-danger list-unstyled"
      *ngIf="(formSubmitted || formGroup.controls['status'].dirty) && formGroup.controls['status'].invalid">
      <li *ngFor="let error of formGroup.getStatusValidationMessages('status')">{{ error }}</li>
    </ul>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activity Category</mat-label>
    <mat-select formControlName="activityCategory" placeholder="Activity Category" id="activityCategory"
      name="activityCategory">      <mat-option *ngFor="let category of activityCategory" [value]="category.title">
        {{ category.title }}
      </mat-option>
    </mat-select>
    <ul class="text-danger list-unstyled"
      *ngIf="(formSubmitted || formGroup.controls['activityCategory'].dirty) && formGroup.controls['activityCategory'].invalid">
      <li *ngFor="let error of formGroup.getActivityCategoryValidationMessages('activityCategory')">{{ error}}
      </li>
    </ul>
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button type="submit" mat-raised-button color="primary" [disabled]="!formSubmitted && formGroup.invalid"
    (click)="onAddActivity()">Submit</button>
  <button type="submit" mat-raised-button color="primary" mat-dialog-close="true">Close</button>
</mat-dialog-actions>


<!-- <section class="activity-form mt-5 mb-5" fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
  fxLayoutAlign="center center">
  <h1 mat-dialog-title class="mt-4">Create new task</h1>
  <div fxFlex="600px" fxLayout="column" fxFlex.md="100">
    <form (ngSubmit)="submitForm()" novalidate [formGroup]="formGroup" *ngIf="!isLoading">
      <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.invalid">
        <ul>
          <li *ngFor="let error of formGroup.getFormValidationMessages()">
            {{ error }}
            </li>
            </ul>
            </div>
            <div fxLayout='column' fxLayoutGap="20px" class="mt-5" fxLayout.lt-md='column' fxLayoutGap.lt-md="20px"
              fxLayoutAlign="center center">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input type="text" matInput placeholder="Title" id="firstName" name="title" formControlName="title">
                <ul class="text-danger list-unstyled"
                  *ngIf="(formSubmitted || formGroup.controls['title'].dirty) && formGroup.controls['title'].invalid">
                  <li *ngFor="let error of formGroup.getTitleNameValidationMessages('title')">{{ error}}</li>
                </ul>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Description</mat-label>
                <input type="text" matInput placeholder="Description" id="description" name="description"
                  formControlName="description">
                <ul class="text-danger list-unstyled"
                  *ngIf="(formSubmitted || formGroup.controls['description'].dirty) && formGroup.controls['description'].invalid">
                  <li *ngFor="let error of formGroup.getDescriptionValidationMessages('description')">{{ error}}</li>
                </ul>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Status</mat-label>
                <mat-select formControlName="status" placeholder="Status" id="status" name="status">
            <mat-option *ngFor="let status of status" [value]="status.value">
              {{ status.viewValue }}
              </mat-option>
              </mat-select>
              <ul class="text-danger list-unstyled"
                *ngIf="(formSubmitted || formGroup.controls['status'].dirty) && formGroup.controls['status'].invalid">
                <li *ngFor="let error of formGroup.getStatusValidationMessages('status')">{{ error }}</li>
              </ul>
              </mat-form-field>
              <mat-form-field>
                <mat-label>Activity Category</mat-label>
                <mat-select formControlName="activityCategory" placeholder="Activity Category" id="activityCategory"
                  name="activityCategory">
                  <mat-option *ngFor="let category of activityCategory" [value]="category.title">
                    {{ category.title }}
                  </mat-option>
                </mat-select>
                <ul class="text-danger list-unstyled"
                  *ngIf="(formSubmitted || formGroup.controls['activityCategory'].dirty) && formGroup.controls['activityCategory'].invalid">
                  <li *ngFor="let error of formGroup.getActivityCategoryValidationMessages('activityCategory')">{{ error}}
                  </li>
                </ul>
              </mat-form-field>
              </div>
              <div fxLayout='column' fxLayoutAlign="center center" class="mt-5">
                <div mat-dialogue-actions>
                  <button type="submit" mat-raised-button color="primary"
                    [disabled]="!formSubmitted && formGroup.invalid">Submit</button>
                  <button type="submit" mat-raised-button color="primary" mat-dialog-close="true">Close</button>
                </div>
              </div>
              </form>
              </div>
</section> -->

<!-- <app-header></app-header> -->
<!--
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" *ngIf="error">
        <h5> An Error occured</h5>
        <p>{{ error }}</p>
      </div>
      <div class="card mx-auto mt-5" style="width: 40rem; border-color: #ff9e00;">
        <div class="card-body">
          <h5 class="card-title text-center">Activity Details</h5>
          <form (ngSubmit)="onAddActivity(newActivityForm)" #newActivityForm="ngForm">

            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                id="title"
                aria-describedby="title"
                ngModel
                name="title"
                required
                #title="ngModel">
              </div>
            </div>
            <div class="mb-3">
              <label for="desciption" class="form-label">Description</label>
              <textarea
              class="form-control"
              id="description"
              cols="83" rows="3"
              style="background-color: white;"
              ngModel
              name="description"
              required
              #description="ngModel">
            </textarea>
            </div>
            <div class="mb-3">
              <label for="slug" class="form-label">Slug</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                id="slug" aria-describedby="slug"
                ngModel
                name="slug"
                required
                #slug="ngModel">
              </div>
            </div>
            <div class="mb-3">
              <label for="status" class="form-label">Status</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Created"
                id="status"
                aria-describedby="status"
                ngModel
                name="status"
                required
                #status="ngModel">
              </div>
            </div>

            <div class="mb-3">
              <label for="activityCategory" class="form-label">Activity Category</label>
              <div class="form-group">
                <input type="text"
                class="form-control"
                id="activity_category"
                aria-describedby="activity_category"
                ngModel
                name="activity_category"
                required
                #activityCategory="ngModel">
              </div>
            </div>


            <div class="text-center">
              <button
              type="submit"
              class="btn btn-outline mx-2"
              style="color: #ff9e00; position: center;"
              [disabled]="!newActivityForm.valid"
              >Submit</button>
              <button type="button" class="btn btn-outline" style="color: #ff9e00; position: center;"
              routerLink="/activity">Back</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngFor="let activity of activityList">
  <p>{{ activity.id }}</p>
  <p>{{ activity.title }}</p>
  <p>{{ activity.description }}</p>
</div> -->
