
.menu-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}

  .mat-icon {
        margin-right: 8px;
    }


.mat-toolbar {
  background-color: #1c3144;
  color: #ee3e29;
}

.mat-sidenav {
    margin: 16px;
    width: 200px;
    border-right: none;
    background-color: #1c3144;
    color: #ee3e29;
    border-radius: 10px;
    padding: 16px;
    text-align: center;


}

.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    margin-right: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: #ee3e29;
    background-color: #1c3144;
}

.mat-sidenav-container {
    height: calc(100vh - 65px);
}



.tp-container {
   position: absolute;
   top: 6;
   left: 0;
   right: 0;
   background: #eee;
   margin-left: 8px;
   margin-right: 8px;
}
.tp-section {
   display: flex;
   align-content: center;
   align-items: center;
   height: 60px;
   width:100px;
}
.mat-nav-list {
  margin-top: 50%;
  margin-left: 0;
  align-items: center;
}

.mat-list-item {
  color: #ee3e29;
  font-weight: lighter;
  font-size: small;

}



