

<div class="container my-5 justify-content-center alert alert-danger">
  <h1 class="text-center" style="font-weight: lighter">
    <mat-icon>error</mat-icon>
    <h1>Error</h1>
  </h1>
  <div class="row text-center">
    <div class="col-md-12" [ngSwitch]="httpErrorMessage">
      <div *ngSwitchCase="'Unknown Error'">
        <h2>The Server is Not Available</h2>
      </div>
      <div *ngSwitchDefault>
        <h2>{{ httpErrorMessage }}</h2>
      </div>
      <mat-icon class="my-1" routerLink="/home">home</mat-icon>
    </div>
  </div>
</div>
