<div class="container my-5 justify-content-center">
  <h1 class="text-center my-2" style="font-weight: lighter; color: #03045e;">Organizational Structure</h1>
  <!-- Section separations -->
  <div class="row">
    <div class="col-md-2">
      <!-- Beginning of Org Listing with  -->
        <div class="d-grid gap-3">
          <button class="btn btn-primary mat-elevation-z8" type="button"><a routerLink="/company">
            <p>Company</p>
          </a></button>
          <button class="btn btn-primary mat-elevation-z8" type="button"><a routerLink="/companyCode">
            <p class="card-title">Company Code</p>
          </a></button>
          <button class="btn btn-primary mat-elevation-z8" type="button"><a>
            <p class="card-title" (click)="onSelectChartOfAccounts()">Chart of Accounts</p>
          </a></button>
          <button class="btn btn-primary mat-elevation-z8" type="button"><a>
            <p class="card-title" (click)="onSelectReportingArea()">Reporting Area</p>
          </a></button>
          <button class="btn btn-primary mat-elevation-z8" type="button"><a>
            <p class="card-title" (click)="onSelectControllingArea()">Controlling Area</p>
          </a></button>
          <button class="btn btn-primary mat-elevation-z8" type="button"><a>
            <p class="card-title" (click)="onSelectBusinessArea()">Business Area</p>
          </a></button>
            <button class="btn btn-primary mat-elevation-z8" type="button"><a>
              <p class="card-title" (click)="onSelectSalesArea()">Sales Area</p>
            </a></button>
        </div>
      <!-- end of Organization Listing -->
    </div>
    <div class="col-md-10">
      <!-- Organizational details -->
      <app-org-unit-details></app-org-unit-details>
      <!-- End of Organizational details -->
    </div>
  </div>
  <!-- end of page separatiom -->
</div>
