<div class="container my-5 justify-content-center">
  <h1 class="text-center my-5" style="font-weight: lighter;">Organizational Structure</h1>
  <div class="row my-5 row-cols-1 row-cols-md-5 g-4 justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Company</h3>
          <a (click)="onSelectCompanyCode()">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </a>
          <a (click)="onSelectCompanyCode()"class="card-text">TestAppearance</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Company Code</h3>
          <a>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Chart of Accounts</h3>
          <a>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Reporting Area</h3>
          <a>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" style="font-weight: lighter;">Controlling Area</h3>
          <a>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title" style="font-weight: lighter;">Business Area</h3>
          <a>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


