.card{
  border-radius: 0;
  border-color: #03045e;
  border-width: 2px;
}

.card-text{
  font-weight: lighter;
  /* color: #03045e; */


}

.card-title{
  font-weight: lighter;
  /* color: #03045e; */
}


a {
  cursor: pointer;
  /* text-decoration: line-through; */
}

