<div class="container my-3 justify-content-center">
  <h1 class="text-center my-2" style="font-weight: lighter; color: #03045e;">Organization Structure</h1>
  <!-- page separations -->
  <div class="row">
    <div class="col-md-2">
      <!-- Beginning of Organization Listing with  -->
      <app-org-unit-list></app-org-unit-list>
      <!-- end of Organization Listing -->
    </div>
    <!-- Organizational details -->
    <div class="col-md-10" [ngSwitch]="itemSelected">
      <div *ngSwitchCase="'company'"><app-org-details-company></app-org-details-company></div>
      <div *ngSwitchCase="'companyCode'"><app-org-details-company-code></app-org-details-company-code></div>
      <div *ngSwitchCase="'chartOfAccounts'"><app-org-details-chartofaccounts></app-org-details-chartofaccounts></div>
      <div *ngSwitchCase="'reportingArea'"><app-org-details-reportingarea></app-org-details-reportingarea></div>
      <div *ngSwitchCase="'controllingArea'"><app-org-details-controllingarea></app-org-details-controllingarea></div>
      <div *ngSwitchCase="'businessArea'"><app-org-details-businessarea></app-org-details-businessarea></div>
      <div *ngSwitchCase="'salesArea'"><app-org-details-salesarea></app-org-details-salesarea></div>
      <div *ngSwitchDefault><app-finance-landing-page></app-finance-landing-page> </div>
      <!-- End of Organizational details -->
    </div>
  </div>
  <!-- end of page separatiom -->
</div>
