<div class="container p-2 my-3" style="font-weight: lighter">
  <form class="row g-3">
    <div class="row g-2 p-3">
      <!-- Document Header -->
      <div class="col-6">
        <div class="p-3 border bg-light">
          <h3 style="font-weight: lighter">Document Header</h3>

          <div class="row mb-3">
            <label for="fiscalYear" class="col-sm-3 col-form-label"
              >Fiscal Year</label
            >
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control"
                id="fiscalYear"
                placeholder="2025"
              />
            </div>
          </div>

          <div class="row mb-3">
            <label for="postingPeriod" class="col-sm-3 col-form-label"
              >Posting Period</label
            >
            <div class="col-sm-7">
              <input
                type="number"
                class="form-control"
                id="postingPeriod"
                placeholder="01"
              />
            </div>
          </div>

          <div class="row mb-3">
            <label for="docDate" class="col-sm-3 col-form-label"
              >Document Date</label
            >
            <div class="col-sm-7">
              <input type="date" class="form-control" id="docDate" />
            </div>
          </div>
          <div class="row mb-3">
            <label for="postingDate" class="col-sm-3 col-form-label"
              >Posting Date</label
            >
            <div class="col-sm-7">
              <input type="date" class="form-control" id="postingDate" />
            </div>
          </div>

          <div class="row mb-3">
            <label for="headerText" class="col-sm-3 col-form-label"
              >Header Reference</label
            >
            <div class="col-sm-7">
              <input type="text" class="form-control" id="headerText" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light" style="font-weight: lighter">
          <h3 style="font-weight: lighter">Amount Information</h3>
          <div class="row mb-3">
            <label for="reference" class="col-sm-3 col-form-label"
              >Reference</label
            >
            <div class="col-sm-7">
              <input type="text" class="form-control" id="reference" />
            </div>
          </div>

          <div class="row mb-3">
            <label for="companyCode" class="col-sm-3 col-form-label"
              >Company Code</label
            >
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control"
                id="companyCode"
                placeholder=""
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="currency" class="col-sm-3 col-form-label"
              >Currency</label
            >
            <div class="col-sm-7">
              <select class="form-select" id="specificSizeSelect">
                <option selected>Currency Options</option>
                <option value="1">KES</option>
                <option value="2">UGX</option>
                <option value="3">TSH</option>
                <option value="3">TSH</option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <label for="debits" class="col-sm-3 col-form-label"
              >Total Dr.</label
            >
            <div class="col-sm-7">
              <input
                type="number"
                class="form-control"
                id="debits"
                placeholder="0.00"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="credits" class="col-sm-3 col-form-label"
              >Total Cr.</label
            >
            <div class="col-sm-7">
              <input
                type="number"
                class="form-control"
                id="credits"
                placeholder="0.00"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2 p-3">
      <div class="col-12">
        <div class="p-3 border bg-light">
          <h3 style="font-weight: lighter">Line Items</h3>
          <!-- Table Start -->
          <table class="table table-hover table-bordered border-primary">
            <thead>
              <tr class="table-active">
                <th scope="col">#</th>
                <th scope="col">GL Account</th>
                <th scope="col">GL Account Description</th>
                <th scope="col">DR/CR</th>
                <th scope="col" colspan="3">Item Description</th>
                <th scope="col">Cost Center</th>
                <th scope="col">Profit Center</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="glAccount"
                    placeholder="GL Account"
                  />
                </td>
                <td>GL Account Description</td>
                <td>
                  <select class="form-select" id="specificSizeSelect">
                    <option selected>DR/CR</option>
                    <option value="1">DR</option>
                    <option value="1">CR</option>
                  </select>
                </td>
                <td colspan="3">
                  <input
                    type="text"
                    class="form-control"
                    id="itemDescription"
                    placeholder="Item Description"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="costCenter"
                    placeholder="Cost Center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="profitCenter"
                    placeholder="Profit Center"
                  />
                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="glAccount"
                    placeholder="GL Account"
                  />
                </td>
                <td>GL Description</td>
                <td>
                  <select class="form-select" id="specificSizeSelect">
                    <option selected>DR/CR</option>
                    <option value="1">DR</option>
                    <option value="1">CR</option>
                  </select>
                </td>
                <td colspan="3">
                  <input
                    type="text"
                    class="form-control"
                    id="itemDescription"
                    placeholder="Item Description"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="costCenter"
                    placeholder="Cost Center"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="profitCenter"
                    placeholder="Profit Center"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <!-- Table end -->
        </div>
      </div>
    </div>
    <div class="row my-3 justify-content-center">
      <div class="d-grid gap-2 col-4 mx-auto">
        <button class="btn btn-primary" type="button">Add Row</button>
        <button class="btn btn-primary" type="button">Edit</button>
        <button class="btn btn-primary" type="button">Save</button>
      </div>
    </div>
    <!-- Test Buttons -->
    <div class="justify-content-center">
      <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button">Add Row</button>
        <button class="btn btn-primary" type="button">Edit</button>
        <button class="btn btn-primary" type="button">Save</button>
        <button type="button" class="btn" data-bs-toggle="button">
          Toggle button
        </button>
        <button
          type="button"
          class="btn active"
          data-bs-toggle="button"
          aria-pressed="true"
        >
          Active toggle button
        </button>
        <button type="button" class="btn" disabled data-bs-toggle="button">
          Disabled toggle button
        </button>
      </p>
      <p class="d-inline-flex gap-1">
        <button type="button" class="btn btn-primary" data-bs-toggle="button">
          Toggle button
        </button>
        <button
          type="button"
          class="btn btn-primary active"
          data-bs-toggle="button"
          aria-pressed="true"
        >
          Active toggle button
        </button>
        <button
          type="button"
          class="btn btn-primary"
          disabled
          data-bs-toggle="button"
        >
          Disabled toggle button
        </button>
      </p>
      <!-- End of Test Buttons -->
    </div>
  </form>
</div>
