/* .to-do-list {
  text-align: center;
  color: #fb8500;
  font-weight: lighter;
}
.table {
  background-color: #03045e;
  color: #fb8500;
}

.paginator {
  color: #fb8500;
  background-color: #03045e;
}

:host {
  background-color: #03045e;
  display: block;
  height: 100vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mat-icon {
  color: #fb8500;
}

/* .roundrect {
  border-radius: 50%;
} */

/* body {
  height: 100vh;
  background: #03045e;
} */
/*
.main-table-container {
  position: relative;
  margin-top: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
  color: #fb8500;
}

.table-container {
  position: relative;
  min-height: 600px;
  max-height: 800px;
  overflow: auto;
  margin-top: 5rem;
  background-color: #03045e;
  color: #fb8500;
  font-weight: lighter;
}

.mat-table {
  width: 100%;
  font-weight: lighter;
  margin-top: 10px;
  background-color: #03045e;
  color: #fb8500;
}
.mat-header-cell,
.mat-cell {
  color: #ff9e00;
  font-weight: lighter;
}

.mat-column-id,
.mat-column-slug {
  max-width: 64px;
}

.mat-column-date_created,
.mat-column-date_changed {
  max-width: 124px;
}

a {
  cursor: pointer;
}

 */ 
