:host {
  background-color: #03045e;
  display: block;
  height: 100vh
}
.btn-primary {
  background-color: rgb(241, 232, 232);
  color: #03045e;
  border-radius: 0;
  text-align: center;
  font-weight: lighter;
  border: none;
}

p {
  font-size: small;
  font-weight: lighter;
}

.table {
  width: 100%;
  font-weight: lighter;
  color: #03045e;
}

.mat-raised-button {
  color: #03045e;
  background-color: #fb8500;
  border-radius: 0;
  font-weight: lighter;
  border: none;
}

.input-group{
  display: inline-block;
  background-color: transparent;
  color: #fb8500;
}

.form-control{
  border-radius: 0;
  background-color: transparent;
  border-color: #fb8500;
  font-weight: lighter;
  color: #fb8500;
}
.mat-icon{
  color: #fb8500;
  font-size: 25px;
}
.input-group-text{
  color: #fb8500;
  font-weight: lighter;
  background-color: transparent;
  border: none;
}

::placeholder {
  color: #fb8500
}

.mat-table {
  width: 100%;
  background-color: transparent;
}

.mat-header-cell {
  background-color: #fb8500;
  font-weight: bold;
  color: #03045e;
  line-height: 5px;

}

.mat-cell {
  color: #fb8500;
  font-weight: lighter;
  font-size: small;
}

.mat-elevation-z8 {
  border-radius: 0;
}

.mat-paginator {
  background-color: transparent;
  color: #fb8500
}
