<div class="mt-5">
    <!-- <p class="mt-5">footer works!</p> -->
<footer class="section footer">
    <!-- Footer links -->
    <ul class="footer-links">
        <li> 
         <a  class="footer-link" routerLink="/home">Home</a>
        </li>
        <li> 
         <a class="footer-link" routerLink="/home">About</a>
        </li>
        <li> 
        <a class="footer-link" routerLink="/home">Contact Us</a>
        </li>
    </ul>
    <!-- End of footer Links -->
    <!-- Footer Icons  -->
    <ul class="footer-icons">
        <li><a href="https://www.twitter.com/@robaimusirivi/" class="footer-icons"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a><li>
        <li><a href="https://ke.linkedin.com/" class="footer-icons"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a></li>
        <li><a href="https://telegram.org/" class="footer-icons"><fa-icon [icon]="['fab', 'telegram']"></fa-icon></a></li>
    </ul>
    <small> <p class="copyright">copyright &copy; small farms <span>{{ date | date: 'yyyy' }}</span>, all rights reserved</p></small>
   
</footer>



</div>
