

.mat-option {
  background-color:#03045e;
  color: #ff9e00;

}

.mat-raised-button{
  width: 75%;
}
.mat-primary{
  background-color: #ff9e00;
  color: #03045e;
}

.contact-us{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  background-color: transparent;
}

.mat-card{
margin-bottom: 8px;
background-color:transparent;
color: #ff9e00;
margin-left: 2px;
margin-right: 2px;

}
.footer{
    text-align: center;
    height: 100vh;

}

  .footer-link{
    /* display: inline-block; */
      color: #ff9e00;
      text-decoration: none;
  }
  .footer-icons{
      font-size: 2rem;
  }

  ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    margin-right: 1rem;
    zoom:1;
    /* *display:inline; */
    /* this fix is needed for IE7- */
}

.footer-content{
  opacity: inherit;
}

.copyright{
height: 20vh;
}

.textareas {
  border: none;
  resize: none;
  }
