<div class="footer" fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" fxLayoutAlign="center center">
    <section name="contactForm">
        <form (ngSubmit)="submitContactForm(contactForm)" #contactForm="ngForm">
            <mat-card class="contact-us" fxFlex="600px" fxFlex.xs="100%">
                <mat-card-header>
                    <mat-card-title fxLayoutAlign="center">email Us..</mat-card-title>
                </mat-card-header>
                <mat-card-content fxLayoutAlign="center">

                    Put the form contents here


                </mat-card-content>
                <mat-card-actions class="mb-3">
                    <button mat-raised-button color="primary" class="button-colors" type="submit"
                        [disabled]="contactForm.invalid">Submit</button>
                </mat-card-actions>
            </mat-card>
        </form>

    </section>
    <section name="socialMedia">

        <mat-card class="contact-us" fxFlex="600px">
            <mat-card-header>
                <mat-card-title>Our socil media contacts..</mat-card-title>
                <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>


    </section>
</div>

<!-- <div class="footer" >
    <div class="footer-content">
        <h4 class="mt-2">Contact us...</h4>
        <div class="row mt-5 px-5">
            <div class="col-md-6">
                <div class="mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Your email address"
                        style="color: black;">
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="message" rows="3" placeholder="Your message"
                        style="color: black;background-color: whitesmoke;"></textarea>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline mt-3" type="button" style="color: #ff8c00;">Send</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="footer-links">
                    <li>
                        <a class="footer-link" routerLink="/home">Help</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/home">FAQ's</a>
                    </li>
                    <li>
                        <a class="footer-link" routerLink="/home">Media</a>
                    </li>
                </ul>

                <ul class="footer-icons">
                    <li><a href="https://www.twitter.com/@robaimusirivi/" class="footer-icons">
                            <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                        </a>
                    <li>
                    <li><a href="https://ke.linkedin.com/" class="footer-icons">
                            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                        </a></li>
                    <li><a href="https://telegram.org/" class="footer-icons">
                            <fa-icon [icon]="['fab', 'telegram']"></fa-icon>
                        </a></li>
                    <li><a href=" https://wa.me/qr/MQMGEQDOMLVVN1/" class="footer-icons">
                            <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
                        </a></li>
                </ul>

            </div>
        </div>

        <small>
            <p class="copyright">copyright &copy; small farms <span>{{ date | date: 'yyyy' }}</span>, all rights
                reserved</p>
        </small>
    </div>
</div> -->
