

.mat-raised-button{
  width: 50%;

}
.mat-primary{

  background-color: #ff9e00;
  color: #03045e;

}

.contact-us{

  max-width: 100%;
}

.mat-card{
margin-bottom: 8px;
background-color:transparent;
color: #ff9e00;
margin-left: 2px;
margin-right: 2px;

}
.footer{
    text-align: center;
    height: 100vh;

}

  .footer-link{
    /* display: inline-block; */
      color: #ff9e00;
      text-decoration: none;
  }
  .footer-icons{
      font-size: 2rem;
  }

  ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    margin-right: 1rem;
    zoom:1;
    /* *display:inline; */
    /* this fix is needed for IE7- */
}

.footer-content{
  opacity: inherit;

}

.copyright{
margin-top: 10rem;

}
textarea {
    border: none;
    resize: none;
  }
