.form-control {
  border-radius: 0;
  font-size: small;
  font-weight: lighter;
}
.input-group-text{
  border-radius: 0;
  font-size: small;
  font-weight: lighter;
}

.mat-icon{
  color: #03045e;
}


#myTab li a {
  /* border-color: blue; */
  background-color: #03045e;
  color: #fb8500;
  font-size: small;
  font-weight: lighter;
  border-radius: 0;
}


