
.mat-card{
  width: 400px;
}

.gl-master-container{
background-color: red;

}

 .mat-tab-group {
  white-space: nowrap;
  overflow: auto;
  border-bottom: 0;

}

.mat-tab-label {

    color: #ee3e29;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {

    color: #ee3e29;
    font-weight: 700;
}

::ng-deep .mat-tab-header, .mat-tab-nav-bar, .mat-tab {
    border-bottom: 0;
}


.mat-form-field{
   width: 200px;
   display: inline;
   font-size: 12px;
}

/* .signup-form{

   height: 100%;

} */

.name{
   display: inline-block;
}

.mat-raised-button{
   width: 50%;
   color: #1c3144;
   background-color:#ee3e29;
}

.register{
  display: inline-flex;
  vertical-align: middle;
}
a{
  text-decoration: none;
}




