<div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
  <h2 class="my-3">New General Ledger Account Master Data</h2>
  <mat-divider></mat-divider>
  <mat-tab-group mat-align-tabs="center">
    <div class="gl-master-container">
      <mat-tab label="Header">
        <app-gl-header-master></app-gl-header-master>
      </mat-tab>
      <mat-tab label="General">General</mat-tab>
      <mat-tab label="Company Code Data">Company Code Data</mat-tab>
      <mat-tab label="Where Used">Where Used</mat-tab>
    </div>
  </mat-tab-group>
</div>
