
<!-- My Account and Personal Profile -->
<section class="mt-2 mb-3" fxLayout="column" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px"
  fxLayoutAlign="center center" fxLayoutGap="20px">
  <h1>Personal Information</h1>
  <div >
    <form novalidate [formGroup]="formGroup" *ngIf="!isLoading" class="mat-elevation-z8 mx-5 my-5 p-5">
      <div class="bg-danger text-white p-2 mb-2" *ngIf="formSubmitted && formGroup.invalid">
        <ul>
          <li *ngFor="let error of formGroup.getFormValidationMessages()">
            {{ error }}
          </li>
        </ul>
      </div>
      <div fxLayout='row' fxLayoutGap="20px" class="mt-5" fxLayout.lt-md='column' fxLayoutGap.lt-md="20px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name" id="first_name" name="first_name" formControlName="first_name"
            [readonly]="readonly">
          <ul class="text-danger list-unstyled"
           *ngIf="(formSubmitted || formGroup.controls.first_name.dirty) && formGroup.controls['first_name'].invalid">
            <li *ngFor="let error of formGroup.getfirstNameValidationMessages('first_name')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name" id="last_name" name="last_name" formControlName="last_name"
            [readonly]="readonly">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls.last_name.dirty) && formGroup.controls['lastName'].invalid">
            <li *ngFor="let error of formGroup.getlastNameValidationMessages('lastName')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Birthday</mat-label>
          <input matInput [matDatepicker]="picker" [max]="maxDate" placeholder="Date of Birth" id="date_of_birth"
            name="date_of_birth" formControlName="date_of_birth" [attr.disabled]="true">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls.date_of_birth.dirty) && formGroup.controls['date_of_birth'].invalid">
            <li *ngFor="let error of formGroup.getBirthDayValidationMessages('date_of_birth')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input type="tel" matInput placeholder="Phone Number" id="phone_number" name="phone_number"
            formControlName="phone_number" [readonly]="readonly">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls.phone_number.dirty) && formGroup.controls['phone_number'].invalid">
            <li *ngFor="let error of formGroup.getPhoneNumberValidationMessages('phone_number')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>username</mat-label>
          <input type="text" matInput placeholder="username" id="username" name="username" formControlName="username"
            [readonly]="readonly">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls.username.dirty) && formGroup.controls['username'].invalid">
            <li *ngFor="let error of formGroup.getUserNameValidationMessages('username')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>email</mat-label>
          <input type="email" matInput placeholder="email" id="email" name="email" formControlName="email" [readonly]="readonly">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls.email.dirty) && formGroup.controls['email'].invalid">
            <li *ngFor="let error of formGroup.getEmailValidationMessages('email')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center">
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <mat-select formControlName="gender" placeholder="gender" id="gender" name="gender" [attr.disabled]="true">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">
              {{ gender.viewValue }}
            </mat-option>

          </mat-select>
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls.gender.dirty) && formGroup.controls['gender'].invalid">
            <li *ngFor="let error of formGroup.getUserNameValidationMessages('gender')">{{ error}}</li>
          </ul>
        </mat-form-field>
        <mat-form-field>
          <mat-label>City</mat-label>
          <input type="text" matInput placeholder="City" id="city" name="city" formControlName="city" [readonly]="readonly">
          <ul class="text-danger list-unstyled"
            *ngIf="(formSubmitted || formGroup.controls.city.dirty) && formGroup.controls['city'].invalid">
            <li *ngFor="let error of formGroup.getEmailValidationMessages('city')">{{ error}}</li>
          </ul>
        </mat-form-field>
      </div>
      <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px"
        fxLayoutAlign="center center" class="my-5">
        <mat-icon>facebook</mat-icon>
        <mat-icon>whatsapp</mat-icon>
        <!-- <mat-icon>twitter</mat-icon>
        <mat-icon>github</mat-icon>
        <mat-icon>linkedin</mat-icon>
        <mat-icon>youtube</mat-icon> -->
      </div>
      <div fxLayout='column' fxLayoutAlign="center center" class="mt-3 mb-5">
        <div fxLayout='row' fxLayoutGap="13px" fxLayout.lt-md='column' fxLayoutGap.lt-md="13px" fxLayoutAlign="center center">
          <button type="submit" mat-raised-button color="primary" (click)="update()">Edit</button>
          <button type="submit" mat-raised-button color="primary"
            [disabled]="!formSubmitted && formGroup.invalid" (click)="submitForm()">Save</button>
        </div>
      </div>
    </form>
  </div>
</section>

