.container {
  text-align: center;
  font-weight: lighter;

}

.mat-raised-button {

  color: white;
  background-color: #03045e;
  border-radius: 0;
  font-weight: lighter;
}

.alert {
  border: none;
  font-weight: lighter;
  background-color: transparent;
  font-size: medium;
}
