
<div class="container">
  <div class="row">

    <!-- Left side navigation bar -->

    <div class="col-2">
      <p>left side navigation</p>
    </div>


    <!-- Right side display page -->
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3 border-0" >
            <div class="row g-0">
              <div class="col-md-2 mt-4" >
                <img [src]="'../assets/images/vri.png'" class="img-responsive roundrect p-3" alt="image" style="width: 150px; height: 150px;">
              </div>
              <div class="col-md-7">
                <div class="card-body ms-5 mx-3">
                  <h5 class="card-title">Welcome back Robai!</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum vel tempora sint molestiae velit, molestias corporis perferendis iste voluptatibus earum! Consequatur quis veritatis aut itaque quas vero aperiam nihil quos.</p>
                  <p class="card-text"><small class="text-muted" style="font-size: smaller;">Last updated on {{ todaysDate | date: 'fullDate' }}  at  {{ todaysDate | date: 'mediumTime' }}</small></p>
                </div>
                <br>
              </div>
              <div class="col-md-3">
              <div class="card-body">
                <a class="btn btn-outline  mt-5 mx-3" style="color: #ff9e00;" routerLink="/newActivity">
                  <fa-icon [icon]="['fas', 'plus']"></fa-icon>  New Activity
                </a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <!--  Table to display the activitys -->
          <div>
            <table class="table table-bordered" style="width: 100%">
              <thead>
                <tr>
                  <th scope="col">#id</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Date</th>
                  <th scope="col">Status</th>
                  <th scope="col">Maintainance</th>
                </tr>
              </thead>
              <tbody  *ngFor="let activity of activityList">
                <tr>
                  <th scope="row" style="width: 5%;">{{ activity.id }}</th>
                  <td style="width: 5%;">{{ activity.name }}</td>
                  <td style="width: 40%;">{{ activity.description }}</td>
                  <td style="width: 15%;">{{ todaysDate | date: 'mediumDate' }} </td>
                  <td style="width: 10%;">Status</td>
                  <td style="width: 30%;">
                    <button type="submit" class="btn btn-success mx-2" style="color: #ff9e00; position: center;"
                      ><fa-icon [icon]="['fas', 'edit']"></fa-icon> Edit</button>
                    <button type="submit" class="btn btn-danger" style="color: #ff9e00; position: center;"
                      routerLink="/activitys"><fa-icon [icon]="['fas', 'trash']"></fa-icon> Delete</button>
                </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>

